footer.footer
	.footer__top
		.wrapper
			.footer__lft
				a(href="#").read-review Читайте отзывы
				.footer__review
					.stars
						.star
							img(src="img/star-full.svg" alt="Star")
						.star
							img(src="img/star-full.svg" alt="Star")
						.star
							img(src="img/star-full.svg" alt="Star")
						.star
							img(src="img/star-full.svg" alt="Star")
						.star
							img(src="img/star-full.svg" alt="Star")
					img(src="img/footer/logoYandex.svg" alt="Logo")
				.footer__socials
					ul
						li
							a(href="#")
								img(src="img/footer/Pinterest.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/Telegram.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/VK.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/Yandex-zen.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/Youtube.svg" alt="Soc")

			.footer__block
				.footer-catalog
					h3 Каталог:
					ul
						li
							a(href="#") Люстры
						li
							a(href="#") Светильники
						li
							a(href="#") Бра
						li
							a(href="#") Настольные лампы
						li
							a(href="#") Споты
						li
							a(href="#") Торшеры
						li
							a(href="#") Уличное освещение
					a(href="#").all Весь каталог

			.footer__block
				.footer-about
					h3 О компании:
					ul
						li
							a(href="#") Контакты
						li
							a(href="#") Реквизиты
						li
							a(href="#") Блог
						li
							a(href="#") Новости
				.footer-help_mob.mt-32
					h3 Помощь:
					ul
						li
							a(href="#") Доставка
						li
							a(href="#") Оплата
						li
							a(href="#") Сборка и установка
						li
							a(href="#") Гарантия
						li
							a(href="#") Возврат
				.footer-info.mt-32
					h3 Юр. информация:
					ul
						li
							a(href="#") Пользовательское соглашение
						li
							a(href="#") Политика конфиденциальности

			.footer__block.footer__block_hide
				.footer-help
					h3 Помощь:
					ul
						li
							a(href="#") Доставка
						li
							a(href="#") Оплата
						li
							a(href="#") Сборка и установка
						li
							a(href="#") Гарантия
						li
							a(href="#") Возврат

			.footer__block
				h3 Контакты:
				h4 Адрес  склада:
				a(href="#").footer__location
					.img
						img(src="img/footer/icoLoc.svg" alt="Ico")
					.text
						span г. Долгопрудный, 
						span Лихачевский проспект, д.18
				a(href="tel:+74953433443").footer__phone
					.img
						img(src="img/footer/IcoWhatsapp.svg" alt="Ico")
					span +7(495) 343-34-43
				a(href="tel:88003433434").footer__phone
					.img
					span 8 (800) 343-34-34
				a(href="mailto:info@svetdecor.ru").footer__email
					.img
						img(src="img/footer/IcoMail.svg" alt="Ico")
					span info@svetdecor.ru
				.footer-info_mob.mt-32
					h3 Юр. информация:
					ul
						li
							a(href="#") Пользовательское соглашение
						li
							a(href="#") Политика конфиденциальности

	.footer__top.footer__under-top
		.wrapper
			.footer__lft
				.lft
					a(href="#").read-review Читайте отзывы
					.footer__review
						.stars
							.star
								img(src="img/star-full.svg" alt="Star")
							.star
								img(src="img/star-full.svg" alt="Star")
							.star
								img(src="img/star-full.svg" alt="Star")
							.star
								img(src="img/star-full.svg" alt="Star")
							.star
								img(src="img/star-full.svg" alt="Star")
						img(src="img/footer/logoYandex.svg" alt="Logo")
				.footer__socials
					ul
						li
							a(href="#")
								img(src="img/footer/Pinterest.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/Telegram.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/VK.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/Yandex-zen.svg" alt="Soc")
						li
							a(href="#")
								img(src="img/footer/Youtube.svg" alt="Soc")


	.footer__center
		.wrapper
			a(href="#").footer__logo
				img(src="img/logo.svg" alt="Logo")
			.footer__payments
				ul
					li
						img(src="img/footer/Icovisa.svg" alt="Ico")
					li
						img(src="img/footer/IcoApple_Pay.svg" alt="Ico")
					li
						img(src="img/footer/Icohalva.svg" alt="Ico")
					li
						img(src="img/footer/Icomaestro.svg" alt="Ico")
					li
						img(src="img/footer/Icomastercard.svg" alt="Ico")
					li
						img(src="img/footer/Icomir.svg" alt="Ico")
					li
						img(src="img/footer/Icosver.svg" alt="Ico")
			a(href="#").footer__create
				span Создание сайта
				.logo
					img(src="img/footer/logoBlancy.svg" alt="Logo")
					span Blancy

	.footer__bottom
		.wrapper
			.footer__copyright © 2021 CветДекор. Все права защищены!
			a(href="#").footer__create
				span Создание сайта
				.logo
					img(src="img/footer/logoBlancy.svg" alt="Logo")
					span Blancy



<!-- jQuery JS -->
script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")

<!-- jQuery UI JS -->
script(src="https://code.jquery.com/ui/1.13.1/jquery-ui.js")

<!-- jQuery UI MOBILE JS -->
script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")

<!-- maskedinput JS -->
script(src="js/jquery.maskedinput.js")
	
<!-- slick JS -->
script(src="js/slick.min.js")

<!-- wow JS -->
script(src="js/wow.min.js")

<!-- main JS -->
script(src="js/main.js")
































	