.page-blog{

	&__sides{
		display: flex;
		align-items: flex-start;
	}

	&__block{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 48px;
		// display: flex;
		// flex-wrap: wrap;
		// margin: -24px -15px;
	}

	&__item{
		.item__photo{
			max-height: 260px;
			margin-bottom: 12px;
			border-radius: 10px;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.item__tags{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 16px;
		}
		.item__center{
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 16px;
		}
		.item__persone{
			display: flex;
			align-items: center;
			span{
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				color: #909090;
			}
			img{
				width: 32px;
				height: 32px;
				border-radius: 50%;
				margin-right: 8px;
			}
		}
		.item__time{
			display: flex;
			align-items: center;
			span{
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #3E3E3E;
			}
			img{
				margin-right: 8px;
			}
		}
		.item__title{
			font-weight: 700;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 12px;
			color: #262028;
		}
		.item__text{
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #3E3E3E;
			margin-bottom: 16px;
		}
		.item__bottom{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.show-more-link{
			margin: 0;
		}
		.item__date{
			display: flex;
			align-items: center;
			span{
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #909090;
			}
			img{
				margin-right: 8px;
			}
		}
		.tag{
			border-radius: 4px;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			padding: 8px;
			color: #FFFFFF;
			margin-right: 12px;
			&_orange{
				background: #FF5700;
			}
			&_purpul{
				background: #951BC4;
			}
			&_green{
				background: #00A887;
			}
		}
	}

	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 28px;
		padding-top: 28px;
		border-top: 1px solid #F4F2EE;
		.show-more{
			margin: 0;
		}
	}
}


@media screen and (max-width: 992px) {
	.page-blog__sides{
		display: block
	}

	.page-blog__item .blog__block{
		grid-template-columns: repeat(2, 1fr);
	}
	.page-blog__item .blog__item{
		&:nth-child(3){
			display: none;
		}
	}
	.page-blog__item .item__time span{
		font-size: 12px;
		line-height: 14px;
	}
	.page-blog__item .item__time img{
		width: 20px;
		margin-right: 4px;
	}
}

@media screen and (max-width: 576px) {
	.page-blog__bottom{

	}
	.page-blog__block{
		grid-template-columns: 1fr
	}
	.page-blog__item .blog__block{
		display: flex;
		overflow: auto;
	}
	.page-blog__item .item__photo{
		margin-bottom: 8px;
		img{
			display: block;
		}
	}
	.page-blog__item .tag{
		font-size: 12px;
		line-height: 14px;
		margin-right: 8px;
	}
	.page-blog__item .item__center{
		display: block;
		margin-bottom: 8px;
	}
	.page-blog__item .item__time{
		margin-top: 8px;
	}
	.page-blog__item .item__title{
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 8px;
	}
	.page-blog__item .item__text{
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 8px;
	}
	.page-blog__item .item__date span{
		font-size: 12px;
		line-height: 14px;
	}
	.page-blog__item .item__date img{
		width: 20px;
		height: 20px;
		margin-right: 4px;
	}
}







