.page-payment{
	&__block{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 28px;
	}
	&__item{
		background: #FFFFFF;
		border: 1px solid #E4E4E4;
		border-radius: 4px;
		padding: 24px;
		.item__payments{
			margin: -8px;
			margin-top: 4px;
		}
		.item__title{
			display: flex;
			align-items: center;
			img{
				margin: 0;
				margin-left: 16px;
			}
		}
		h3{
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			margin-bottom: 12px;
			color: #262028;
		}
		p{
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #3E3E3E;
		}
		img{
			margin: 8px;
		}
	}
}

@media screen and (max-width: 992px) {
	.page-payment__block{
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px
	}
	.page-payment__item img{
		margin: 8px 4px;
	}
}

@media screen and (max-width: 700px) {
	.page-payment__block{
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 16px
	}
}



