extends includes/header.pug

block content


	+breadcrumbs

	main.page-404


		.wrapper.mb-100

			h1 Ой, ошибка 404!
			img(src="img/404/image.png" alt="Image")
			p Мы сожалеем, но страница на которую Вы пытались перейти не существует. 
			a(href="index.html") Вернуться к покупкам




	include includes/footer.pug



























	