extends includes/header.pug

block content


	+breadcrumbs

	main.page-about


		.wrapper

			h1.main-title-h1.block-hide О компании

			.page-about__sides.mb-100

				.page-about__lft

					h1.main-title-h1 О компании

					p <span class="svetDekor">Свет<span>Декор</span></span> - интернет-магазинов товаров для дома, на котором собрано все для максимально комфортного поиска освещения, мебели, декора и предметов интерьера на любой вкус.
					p Наш сервис поможет Вам без труда почувствовать себя дизайнером интерьера и самостоятельно подобрать именно тот вариант товара, который будет радовать Вас каждый день.
					p Наши специалисты анализировали крупнейшие сайты Рунета, чтобы найти баланс между красивым интернет-магазином товаров для дома, удобным интерфейсом и скоростью работы.
					p К каждому нашему клиенту предоставляется свой личный онлайн консультант, который ответит на появившиеся вопросы и будет вести Вас от начала и до конца покупки.

				.page-about__rht

					img(src="img/about/image.png" alt="Image")


			+email

	include includes/footer.pug



























	