extends includes/header.pug

block content


	+breadcrumbs

	main.page-basket


		.wrapper

			h1.main-title-h1 Моя корзина

			.page-basket__sides.mb-100
				.page-basket__lft
					.page-basket__items
						.page-basket__item
							.item__main
								.item__photo
									img(src="img/basket/Photo1.jpg" alt="Photo")
								.item__info
									.item__stars
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-empty.svg" alt="Star")
									.item__title Потолочная люстра Vele Luce Intenso VL1413L06
									.item__art
										.art__item
											p Артикул:  
											span SD-345TM43
										.art__item
											p Бренд:  
											a(href="#") Vele Luce
										.art__item
											p Страна:  
											a(href="#") Италия
									.item__stock
										img(src="img/basket/IcoBatteryGreen.svg" alt="Photo")
										span В наличии 54 шт.
									.item__buttons
										button.item__put-aside.item__put-aside_favorite
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9996 21.4286C11.7067 21.4286 11.4244 21.3192 11.2043 21.1207C10.3733 20.372 9.57207 19.6684 8.86518 19.0477L8.86157 19.0445C6.78908 17.2248 4.99941 15.6533 3.75419 14.1053C2.36222 12.3747 1.71387 10.7338 1.71387 8.94127C1.71387 7.19967 2.29347 5.59293 3.34581 4.41683C4.4107 3.22682 5.87188 2.57141 7.46066 2.57141C8.64812 2.57141 9.73561 2.95822 10.6928 3.721C11.1759 4.10602 11.6138 4.57724 11.9996 5.12689C12.3855 4.57724 12.8232 4.10602 13.3065 3.721C14.2637 2.95822 15.3512 2.57141 16.5387 2.57141C18.1273 2.57141 19.5886 3.22682 20.6535 4.41683C21.7058 5.59293 22.2853 7.19967 22.2853 8.94127C22.2853 10.7338 21.6371 12.3747 20.2451 14.1051C18.9999 15.6533 17.2104 17.2246 15.1382 19.0442C14.4301 19.6658 13.6276 20.3705 12.7947 21.121C12.5748 21.3192 12.2923 21.4286 11.9996 21.4286ZM7.46066 3.81301C6.21245 3.81301 5.0658 4.32627 4.23162 5.25836C3.38504 6.20451 2.91875 7.51241 2.91875 8.94127C2.91875 10.4489 3.46258 11.7972 4.6819 13.3131C5.86042 14.7783 7.61337 16.3174 9.64301 18.0996L9.64678 18.1029C10.3563 18.7259 11.1607 19.4323 11.9979 20.1865C12.84 19.4308 13.6456 18.7233 14.3566 18.0993C16.3861 16.3171 18.1389 14.7783 19.3174 13.3131C20.5366 11.7972 21.0804 10.4489 21.0804 8.94127C21.0804 7.51241 20.6141 6.20451 19.7675 5.25836C18.9335 4.32627 17.7867 3.81301 16.5387 3.81301C15.6243 3.81301 14.7848 4.11249 14.0435 4.70305C13.3829 5.22957 12.9227 5.89517 12.653 6.36089C12.5142 6.60038 12.27 6.74333 11.9996 6.74333C11.7292 6.74333 11.485 6.60038 11.3462 6.36089C11.0766 5.89517 10.6164 5.22957 9.95565 4.70305C9.21439 4.11249 8.37488 3.81301 7.46066 3.81301Z" fill="#262028"/></svg>
											span Отложить
										button.item__put-aside.item__put-aside_del
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8573 4.12495H14.7998C14.5343 2.75116 13.3799 1.71423 12.0001 1.71423C10.6204 1.71423 9.46597 2.75116 9.20048 4.12495H5.143C4.19774 4.12495 3.42871 4.93603 3.42871 5.93298V7.13834C3.42871 7.47118 3.68456 7.74102 4.00014 7.74102H4.61694L5.62905 20.6278C5.70254 21.5574 6.45294 22.2857 7.33743 22.2857H16.6628C17.5474 22.2857 18.2978 21.5574 18.3712 20.6275L19.3833 7.74102H20.0001C20.3157 7.74102 20.5716 7.47118 20.5716 7.13834V5.93298C20.5716 4.93603 19.8025 4.12495 18.8573 4.12495ZM12.0001 2.91959C12.7451 2.91959 13.3807 3.42339 13.6165 4.12495H10.3838C10.6196 3.42339 11.2551 2.91959 12.0001 2.91959ZM17.2323 20.5277C17.2078 20.8376 16.9577 21.0803 16.6629 21.0803H7.33743C7.04262 21.0803 6.79244 20.8375 6.76799 20.528L5.76372 7.74102H18.2366L17.2323 20.5277ZM19.4287 6.53566H4.57157V5.93298C4.57157 5.60067 4.82791 5.3303 5.143 5.3303C5.74193 5.3303 18.4801 5.3303 18.8573 5.3303C19.1724 5.3303 19.4287 5.60067 19.4287 5.93298V6.53566Z" fill="#262028"/><path d="M8.57143 10.1517C8.25585 10.1517 8 10.4216 8 10.7544V18.0669C8 18.3998 8.25585 18.6696 8.57143 18.6696C8.88701 18.6696 9.14286 18.3998 9.14286 18.0669V10.7544C9.14286 10.4216 8.88701 10.1517 8.57143 10.1517Z" fill="#262028"/><path d="M12.0001 10.1517C11.6846 10.1517 11.4287 10.4216 11.4287 10.7544V18.0669C11.4287 18.3998 11.6846 18.6696 12.0001 18.6696C12.3157 18.6696 12.5716 18.3998 12.5716 18.0669V10.7544C12.5716 10.4216 12.3157 10.1517 12.0001 10.1517Z" fill="#262028"/><path d="M15.4289 10.1517C15.1133 10.1517 14.8574 10.4216 14.8574 10.7544V18.0669C14.8574 18.3998 15.1133 18.6696 15.4289 18.6696C15.7444 18.6696 16.0003 18.3998 16.0003 18.0669V10.7544C16.0003 10.4216 15.7444 10.1517 15.4289 10.1517Z" fill="#262028"/></svg>
											span Удалить
									a(href="#").item__add Добавить лампочки
								.item__rht
									.item__price
										.price__main 11 200 ₽
										del.price__old 14 500 ₽
										.price__sale -25%
									.item__count
										span Кол-во:
										.count__input
											.input__minus
												<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.81502 7.42859C1.63534 7.43186 1.46434 7.49347 1.33865 7.60028C1.21296 7.70709 1.14258 7.8506 1.14258 8.00002C1.14258 8.14944 1.21296 8.29288 1.33865 8.39969C1.46434 8.50649 1.63534 8.56817 1.81502 8.57145H14.1844C14.3641 8.56817 14.5351 8.50649 14.6608 8.39969C14.7865 8.29288 14.8569 8.14944 14.8569 8.00002C14.8569 7.8506 14.7865 7.70709 14.6608 7.60028C14.5351 7.49347 14.3641 7.43186 14.1844 7.42859H1.81502Z" fill="#262028"/></svg>
											.input__field
												input(type="text" value="1")
											.input__plus
												<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99972 14.8571C7.82212 14.8571 7.65179 14.7866 7.52621 14.661C7.40063 14.5354 7.33008 14.3651 7.33008 14.1875V1.81247C7.33008 1.63486 7.40063 1.46454 7.52621 1.33896C7.65179 1.21337 7.82212 1.14282 7.99972 1.14282C8.17732 1.14282 8.34765 1.21337 8.47323 1.33896C8.59881 1.46454 8.66936 1.63486 8.66936 1.81247V14.1875C8.66936 14.3651 8.59881 14.5354 8.47323 14.661C8.34765 14.7866 8.17732 14.8571 7.99972 14.8571Z" fill="#262028"/><path d="M14.1872 8.66961H1.81222C1.63462 8.66961 1.46429 8.59906 1.33871 8.47347C1.21313 8.34789 1.14258 8.17757 1.14258 7.99997C1.14258 7.82237 1.21313 7.65204 1.33871 7.52646C1.46429 7.40087 1.63462 7.33032 1.81222 7.33032H14.1872C14.3648 7.33032 14.5351 7.40087 14.6607 7.52646C14.7863 7.65204 14.8569 7.82237 14.8569 7.99997C14.8569 8.17757 14.7863 8.34789 14.6607 8.47347C14.5351 8.59906 14.3648 8.66961 14.1872 8.66961Z" fill="#262028"/></svg>
							.item__dop
								.item__buttons
									button.item__put-aside.item__put-aside_favorite
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9996 21.4286C11.7067 21.4286 11.4244 21.3192 11.2043 21.1207C10.3733 20.372 9.57207 19.6684 8.86518 19.0477L8.86157 19.0445C6.78908 17.2248 4.99941 15.6533 3.75419 14.1053C2.36222 12.3747 1.71387 10.7338 1.71387 8.94127C1.71387 7.19967 2.29347 5.59293 3.34581 4.41683C4.4107 3.22682 5.87188 2.57141 7.46066 2.57141C8.64812 2.57141 9.73561 2.95822 10.6928 3.721C11.1759 4.10602 11.6138 4.57724 11.9996 5.12689C12.3855 4.57724 12.8232 4.10602 13.3065 3.721C14.2637 2.95822 15.3512 2.57141 16.5387 2.57141C18.1273 2.57141 19.5886 3.22682 20.6535 4.41683C21.7058 5.59293 22.2853 7.19967 22.2853 8.94127C22.2853 10.7338 21.6371 12.3747 20.2451 14.1051C18.9999 15.6533 17.2104 17.2246 15.1382 19.0442C14.4301 19.6658 13.6276 20.3705 12.7947 21.121C12.5748 21.3192 12.2923 21.4286 11.9996 21.4286ZM7.46066 3.81301C6.21245 3.81301 5.0658 4.32627 4.23162 5.25836C3.38504 6.20451 2.91875 7.51241 2.91875 8.94127C2.91875 10.4489 3.46258 11.7972 4.6819 13.3131C5.86042 14.7783 7.61337 16.3174 9.64301 18.0996L9.64678 18.1029C10.3563 18.7259 11.1607 19.4323 11.9979 20.1865C12.84 19.4308 13.6456 18.7233 14.3566 18.0993C16.3861 16.3171 18.1389 14.7783 19.3174 13.3131C20.5366 11.7972 21.0804 10.4489 21.0804 8.94127C21.0804 7.51241 20.6141 6.20451 19.7675 5.25836C18.9335 4.32627 17.7867 3.81301 16.5387 3.81301C15.6243 3.81301 14.7848 4.11249 14.0435 4.70305C13.3829 5.22957 12.9227 5.89517 12.653 6.36089C12.5142 6.60038 12.27 6.74333 11.9996 6.74333C11.7292 6.74333 11.485 6.60038 11.3462 6.36089C11.0766 5.89517 10.6164 5.22957 9.95565 4.70305C9.21439 4.11249 8.37488 3.81301 7.46066 3.81301Z" fill="#262028"/></svg>
										span Отложить
									button.item__put-aside.item__put-aside_del
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8573 4.12495H14.7998C14.5343 2.75116 13.3799 1.71423 12.0001 1.71423C10.6204 1.71423 9.46597 2.75116 9.20048 4.12495H5.143C4.19774 4.12495 3.42871 4.93603 3.42871 5.93298V7.13834C3.42871 7.47118 3.68456 7.74102 4.00014 7.74102H4.61694L5.62905 20.6278C5.70254 21.5574 6.45294 22.2857 7.33743 22.2857H16.6628C17.5474 22.2857 18.2978 21.5574 18.3712 20.6275L19.3833 7.74102H20.0001C20.3157 7.74102 20.5716 7.47118 20.5716 7.13834V5.93298C20.5716 4.93603 19.8025 4.12495 18.8573 4.12495ZM12.0001 2.91959C12.7451 2.91959 13.3807 3.42339 13.6165 4.12495H10.3838C10.6196 3.42339 11.2551 2.91959 12.0001 2.91959ZM17.2323 20.5277C17.2078 20.8376 16.9577 21.0803 16.6629 21.0803H7.33743C7.04262 21.0803 6.79244 20.8375 6.76799 20.528L5.76372 7.74102H18.2366L17.2323 20.5277ZM19.4287 6.53566H4.57157V5.93298C4.57157 5.60067 4.82791 5.3303 5.143 5.3303C5.74193 5.3303 18.4801 5.3303 18.8573 5.3303C19.1724 5.3303 19.4287 5.60067 19.4287 5.93298V6.53566Z" fill="#262028"/><path d="M8.57143 10.1517C8.25585 10.1517 8 10.4216 8 10.7544V18.0669C8 18.3998 8.25585 18.6696 8.57143 18.6696C8.88701 18.6696 9.14286 18.3998 9.14286 18.0669V10.7544C9.14286 10.4216 8.88701 10.1517 8.57143 10.1517Z" fill="#262028"/><path d="M12.0001 10.1517C11.6846 10.1517 11.4287 10.4216 11.4287 10.7544V18.0669C11.4287 18.3998 11.6846 18.6696 12.0001 18.6696C12.3157 18.6696 12.5716 18.3998 12.5716 18.0669V10.7544C12.5716 10.4216 12.3157 10.1517 12.0001 10.1517Z" fill="#262028"/><path d="M15.4289 10.1517C15.1133 10.1517 14.8574 10.4216 14.8574 10.7544V18.0669C14.8574 18.3998 15.1133 18.6696 15.4289 18.6696C15.7444 18.6696 16.0003 18.3998 16.0003 18.0669V10.7544C16.0003 10.4216 15.7444 10.1517 15.4289 10.1517Z" fill="#262028"/></svg>
										span Удалить
								a(href="#").item__add Добавить лампочки
							.item__added
								.page-basket__slider.block-slider-three.block-slider-three_second
									.slider__top
										h2
											| Лампочки
											span
												span 12 343
												span товаров
										.slider__close
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.26494 18.5707C2.09936 18.5707 1.9375 18.5217 1.79982 18.4297C1.66214 18.3377 1.55483 18.207 1.49146 18.054C1.42809 17.901 1.41152 17.7327 1.44383 17.5703C1.47614 17.4079 1.55588 17.2588 1.67298 17.1417L17.1416 1.67305C17.2986 1.51606 17.5116 1.42786 17.7336 1.42786C17.9556 1.42786 18.1686 1.51606 18.3256 1.67305C18.4825 1.83005 18.5708 2.04299 18.5708 2.26501C18.5708 2.48704 18.4825 2.69998 18.3256 2.85698L2.8569 18.3256C2.77923 18.4035 2.68696 18.4652 2.58537 18.5072C2.48378 18.5493 2.37489 18.5709 2.26494 18.5707Z" fill="#00A887"/><path d="M17.7335 18.5707C17.6236 18.5709 17.5147 18.5493 17.4131 18.5072C17.3115 18.4652 17.2192 18.4035 17.1416 18.3256L1.67293 2.85698C1.51593 2.69998 1.42773 2.48704 1.42773 2.26501C1.42773 2.04299 1.51593 1.83005 1.67293 1.67305C1.82993 1.51606 2.04286 1.42786 2.26489 1.42786C2.48692 1.42786 2.69986 1.51606 2.85685 1.67305L18.3255 17.1417C18.4426 17.2588 18.5223 17.4079 18.5547 17.5703C18.587 17.7327 18.5704 17.901 18.507 18.054C18.4437 18.207 18.3363 18.3377 18.1987 18.4297C18.061 18.5217 17.8991 18.5707 17.7335 18.5707Z" fill="#00A887"/></svg>
											span Закрыть
										.slider__arrows
											.arr__lft
												<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
											.arr__rht
												<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
									.slider__content
										+cardBasket
										+cardBasket
										+cardBasket
										+cardBasket
										+cardBasket
						.page-basket__item
							.item__main
								.item__photo
									img(src="img/basket/Photo1.jpg" alt="Photo")
								.item__info
									.item__stars
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-full.svg" alt="Star")
										.star
											img(src="img/star-empty.svg" alt="Star")
									.item__title Потолочная люстра Vele Luce Intenso VL1413L06
									.item__art
										.art__item
											p Артикул:  
											span SD-345TM43
										.art__item
											p Бренд:  
											a(href="#") Vele Luce
										.art__item
											p Страна:  
											a(href="#") Италия
									.item__stock
										img(src="img/basket/IcoBatteryGreen.svg" alt="Photo")
										span В наличии 54 шт.
									.item__buttons
										button.item__put-aside.item__put-aside_favorite
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9996 21.4286C11.7067 21.4286 11.4244 21.3192 11.2043 21.1207C10.3733 20.372 9.57207 19.6684 8.86518 19.0477L8.86157 19.0445C6.78908 17.2248 4.99941 15.6533 3.75419 14.1053C2.36222 12.3747 1.71387 10.7338 1.71387 8.94127C1.71387 7.19967 2.29347 5.59293 3.34581 4.41683C4.4107 3.22682 5.87188 2.57141 7.46066 2.57141C8.64812 2.57141 9.73561 2.95822 10.6928 3.721C11.1759 4.10602 11.6138 4.57724 11.9996 5.12689C12.3855 4.57724 12.8232 4.10602 13.3065 3.721C14.2637 2.95822 15.3512 2.57141 16.5387 2.57141C18.1273 2.57141 19.5886 3.22682 20.6535 4.41683C21.7058 5.59293 22.2853 7.19967 22.2853 8.94127C22.2853 10.7338 21.6371 12.3747 20.2451 14.1051C18.9999 15.6533 17.2104 17.2246 15.1382 19.0442C14.4301 19.6658 13.6276 20.3705 12.7947 21.121C12.5748 21.3192 12.2923 21.4286 11.9996 21.4286ZM7.46066 3.81301C6.21245 3.81301 5.0658 4.32627 4.23162 5.25836C3.38504 6.20451 2.91875 7.51241 2.91875 8.94127C2.91875 10.4489 3.46258 11.7972 4.6819 13.3131C5.86042 14.7783 7.61337 16.3174 9.64301 18.0996L9.64678 18.1029C10.3563 18.7259 11.1607 19.4323 11.9979 20.1865C12.84 19.4308 13.6456 18.7233 14.3566 18.0993C16.3861 16.3171 18.1389 14.7783 19.3174 13.3131C20.5366 11.7972 21.0804 10.4489 21.0804 8.94127C21.0804 7.51241 20.6141 6.20451 19.7675 5.25836C18.9335 4.32627 17.7867 3.81301 16.5387 3.81301C15.6243 3.81301 14.7848 4.11249 14.0435 4.70305C13.3829 5.22957 12.9227 5.89517 12.653 6.36089C12.5142 6.60038 12.27 6.74333 11.9996 6.74333C11.7292 6.74333 11.485 6.60038 11.3462 6.36089C11.0766 5.89517 10.6164 5.22957 9.95565 4.70305C9.21439 4.11249 8.37488 3.81301 7.46066 3.81301Z" fill="#262028"/></svg>
											span Отложить
										button.item__put-aside.item__put-aside_del
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8573 4.12495H14.7998C14.5343 2.75116 13.3799 1.71423 12.0001 1.71423C10.6204 1.71423 9.46597 2.75116 9.20048 4.12495H5.143C4.19774 4.12495 3.42871 4.93603 3.42871 5.93298V7.13834C3.42871 7.47118 3.68456 7.74102 4.00014 7.74102H4.61694L5.62905 20.6278C5.70254 21.5574 6.45294 22.2857 7.33743 22.2857H16.6628C17.5474 22.2857 18.2978 21.5574 18.3712 20.6275L19.3833 7.74102H20.0001C20.3157 7.74102 20.5716 7.47118 20.5716 7.13834V5.93298C20.5716 4.93603 19.8025 4.12495 18.8573 4.12495ZM12.0001 2.91959C12.7451 2.91959 13.3807 3.42339 13.6165 4.12495H10.3838C10.6196 3.42339 11.2551 2.91959 12.0001 2.91959ZM17.2323 20.5277C17.2078 20.8376 16.9577 21.0803 16.6629 21.0803H7.33743C7.04262 21.0803 6.79244 20.8375 6.76799 20.528L5.76372 7.74102H18.2366L17.2323 20.5277ZM19.4287 6.53566H4.57157V5.93298C4.57157 5.60067 4.82791 5.3303 5.143 5.3303C5.74193 5.3303 18.4801 5.3303 18.8573 5.3303C19.1724 5.3303 19.4287 5.60067 19.4287 5.93298V6.53566Z" fill="#262028"/><path d="M8.57143 10.1517C8.25585 10.1517 8 10.4216 8 10.7544V18.0669C8 18.3998 8.25585 18.6696 8.57143 18.6696C8.88701 18.6696 9.14286 18.3998 9.14286 18.0669V10.7544C9.14286 10.4216 8.88701 10.1517 8.57143 10.1517Z" fill="#262028"/><path d="M12.0001 10.1517C11.6846 10.1517 11.4287 10.4216 11.4287 10.7544V18.0669C11.4287 18.3998 11.6846 18.6696 12.0001 18.6696C12.3157 18.6696 12.5716 18.3998 12.5716 18.0669V10.7544C12.5716 10.4216 12.3157 10.1517 12.0001 10.1517Z" fill="#262028"/><path d="M15.4289 10.1517C15.1133 10.1517 14.8574 10.4216 14.8574 10.7544V18.0669C14.8574 18.3998 15.1133 18.6696 15.4289 18.6696C15.7444 18.6696 16.0003 18.3998 16.0003 18.0669V10.7544C16.0003 10.4216 15.7444 10.1517 15.4289 10.1517Z" fill="#262028"/></svg>
											span Удалить
									a(href="#").item__add Добавить лампочки
								.item__rht
									.item__price
										.price__main 11 200 ₽
										del.price__old 14 500 ₽
										.price__sale -25%
									.item__count
										span Кол-во:
										.count__input
											.input__minus
												<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.81502 7.42859C1.63534 7.43186 1.46434 7.49347 1.33865 7.60028C1.21296 7.70709 1.14258 7.8506 1.14258 8.00002C1.14258 8.14944 1.21296 8.29288 1.33865 8.39969C1.46434 8.50649 1.63534 8.56817 1.81502 8.57145H14.1844C14.3641 8.56817 14.5351 8.50649 14.6608 8.39969C14.7865 8.29288 14.8569 8.14944 14.8569 8.00002C14.8569 7.8506 14.7865 7.70709 14.6608 7.60028C14.5351 7.49347 14.3641 7.43186 14.1844 7.42859H1.81502Z" fill="#262028"/></svg>
											.input__field
												input(type="text" value="1")
											.input__plus
												<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99972 14.8571C7.82212 14.8571 7.65179 14.7866 7.52621 14.661C7.40063 14.5354 7.33008 14.3651 7.33008 14.1875V1.81247C7.33008 1.63486 7.40063 1.46454 7.52621 1.33896C7.65179 1.21337 7.82212 1.14282 7.99972 1.14282C8.17732 1.14282 8.34765 1.21337 8.47323 1.33896C8.59881 1.46454 8.66936 1.63486 8.66936 1.81247V14.1875C8.66936 14.3651 8.59881 14.5354 8.47323 14.661C8.34765 14.7866 8.17732 14.8571 7.99972 14.8571Z" fill="#262028"/><path d="M14.1872 8.66961H1.81222C1.63462 8.66961 1.46429 8.59906 1.33871 8.47347C1.21313 8.34789 1.14258 8.17757 1.14258 7.99997C1.14258 7.82237 1.21313 7.65204 1.33871 7.52646C1.46429 7.40087 1.63462 7.33032 1.81222 7.33032H14.1872C14.3648 7.33032 14.5351 7.40087 14.6607 7.52646C14.7863 7.65204 14.8569 7.82237 14.8569 7.99997C14.8569 8.17757 14.7863 8.34789 14.6607 8.47347C14.5351 8.59906 14.3648 8.66961 14.1872 8.66961Z" fill="#262028"/></svg>
							.item__dop
								.item__buttons
									button.item__put-aside.item__put-aside_favorite
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.9996 21.4286C11.7067 21.4286 11.4244 21.3192 11.2043 21.1207C10.3733 20.372 9.57207 19.6684 8.86518 19.0477L8.86157 19.0445C6.78908 17.2248 4.99941 15.6533 3.75419 14.1053C2.36222 12.3747 1.71387 10.7338 1.71387 8.94127C1.71387 7.19967 2.29347 5.59293 3.34581 4.41683C4.4107 3.22682 5.87188 2.57141 7.46066 2.57141C8.64812 2.57141 9.73561 2.95822 10.6928 3.721C11.1759 4.10602 11.6138 4.57724 11.9996 5.12689C12.3855 4.57724 12.8232 4.10602 13.3065 3.721C14.2637 2.95822 15.3512 2.57141 16.5387 2.57141C18.1273 2.57141 19.5886 3.22682 20.6535 4.41683C21.7058 5.59293 22.2853 7.19967 22.2853 8.94127C22.2853 10.7338 21.6371 12.3747 20.2451 14.1051C18.9999 15.6533 17.2104 17.2246 15.1382 19.0442C14.4301 19.6658 13.6276 20.3705 12.7947 21.121C12.5748 21.3192 12.2923 21.4286 11.9996 21.4286ZM7.46066 3.81301C6.21245 3.81301 5.0658 4.32627 4.23162 5.25836C3.38504 6.20451 2.91875 7.51241 2.91875 8.94127C2.91875 10.4489 3.46258 11.7972 4.6819 13.3131C5.86042 14.7783 7.61337 16.3174 9.64301 18.0996L9.64678 18.1029C10.3563 18.7259 11.1607 19.4323 11.9979 20.1865C12.84 19.4308 13.6456 18.7233 14.3566 18.0993C16.3861 16.3171 18.1389 14.7783 19.3174 13.3131C20.5366 11.7972 21.0804 10.4489 21.0804 8.94127C21.0804 7.51241 20.6141 6.20451 19.7675 5.25836C18.9335 4.32627 17.7867 3.81301 16.5387 3.81301C15.6243 3.81301 14.7848 4.11249 14.0435 4.70305C13.3829 5.22957 12.9227 5.89517 12.653 6.36089C12.5142 6.60038 12.27 6.74333 11.9996 6.74333C11.7292 6.74333 11.485 6.60038 11.3462 6.36089C11.0766 5.89517 10.6164 5.22957 9.95565 4.70305C9.21439 4.11249 8.37488 3.81301 7.46066 3.81301Z" fill="#262028"/></svg>
										span Отложить
									button.item__put-aside.item__put-aside_del
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.8573 4.12495H14.7998C14.5343 2.75116 13.3799 1.71423 12.0001 1.71423C10.6204 1.71423 9.46597 2.75116 9.20048 4.12495H5.143C4.19774 4.12495 3.42871 4.93603 3.42871 5.93298V7.13834C3.42871 7.47118 3.68456 7.74102 4.00014 7.74102H4.61694L5.62905 20.6278C5.70254 21.5574 6.45294 22.2857 7.33743 22.2857H16.6628C17.5474 22.2857 18.2978 21.5574 18.3712 20.6275L19.3833 7.74102H20.0001C20.3157 7.74102 20.5716 7.47118 20.5716 7.13834V5.93298C20.5716 4.93603 19.8025 4.12495 18.8573 4.12495ZM12.0001 2.91959C12.7451 2.91959 13.3807 3.42339 13.6165 4.12495H10.3838C10.6196 3.42339 11.2551 2.91959 12.0001 2.91959ZM17.2323 20.5277C17.2078 20.8376 16.9577 21.0803 16.6629 21.0803H7.33743C7.04262 21.0803 6.79244 20.8375 6.76799 20.528L5.76372 7.74102H18.2366L17.2323 20.5277ZM19.4287 6.53566H4.57157V5.93298C4.57157 5.60067 4.82791 5.3303 5.143 5.3303C5.74193 5.3303 18.4801 5.3303 18.8573 5.3303C19.1724 5.3303 19.4287 5.60067 19.4287 5.93298V6.53566Z" fill="#262028"/><path d="M8.57143 10.1517C8.25585 10.1517 8 10.4216 8 10.7544V18.0669C8 18.3998 8.25585 18.6696 8.57143 18.6696C8.88701 18.6696 9.14286 18.3998 9.14286 18.0669V10.7544C9.14286 10.4216 8.88701 10.1517 8.57143 10.1517Z" fill="#262028"/><path d="M12.0001 10.1517C11.6846 10.1517 11.4287 10.4216 11.4287 10.7544V18.0669C11.4287 18.3998 11.6846 18.6696 12.0001 18.6696C12.3157 18.6696 12.5716 18.3998 12.5716 18.0669V10.7544C12.5716 10.4216 12.3157 10.1517 12.0001 10.1517Z" fill="#262028"/><path d="M15.4289 10.1517C15.1133 10.1517 14.8574 10.4216 14.8574 10.7544V18.0669C14.8574 18.3998 15.1133 18.6696 15.4289 18.6696C15.7444 18.6696 16.0003 18.3998 16.0003 18.0669V10.7544C16.0003 10.4216 15.7444 10.1517 15.4289 10.1517Z" fill="#262028"/></svg>
										span Удалить
								a(href="#").item__add Добавить лампочки
							.item__added
								.page-basket__slider.block-slider-three.block-slider-three_second
									.slider__top
										h2
											| Лампочки
											span
												span 12 343
												span товаров
										.slider__close
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.26494 18.5707C2.09936 18.5707 1.9375 18.5217 1.79982 18.4297C1.66214 18.3377 1.55483 18.207 1.49146 18.054C1.42809 17.901 1.41152 17.7327 1.44383 17.5703C1.47614 17.4079 1.55588 17.2588 1.67298 17.1417L17.1416 1.67305C17.2986 1.51606 17.5116 1.42786 17.7336 1.42786C17.9556 1.42786 18.1686 1.51606 18.3256 1.67305C18.4825 1.83005 18.5708 2.04299 18.5708 2.26501C18.5708 2.48704 18.4825 2.69998 18.3256 2.85698L2.8569 18.3256C2.77923 18.4035 2.68696 18.4652 2.58537 18.5072C2.48378 18.5493 2.37489 18.5709 2.26494 18.5707Z" fill="#00A887"/><path d="M17.7335 18.5707C17.6236 18.5709 17.5147 18.5493 17.4131 18.5072C17.3115 18.4652 17.2192 18.4035 17.1416 18.3256L1.67293 2.85698C1.51593 2.69998 1.42773 2.48704 1.42773 2.26501C1.42773 2.04299 1.51593 1.83005 1.67293 1.67305C1.82993 1.51606 2.04286 1.42786 2.26489 1.42786C2.48692 1.42786 2.69986 1.51606 2.85685 1.67305L18.3255 17.1417C18.4426 17.2588 18.5223 17.4079 18.5547 17.5703C18.587 17.7327 18.5704 17.901 18.507 18.054C18.4437 18.207 18.3363 18.3377 18.1987 18.4297C18.061 18.5217 17.8991 18.5707 17.7335 18.5707Z" fill="#00A887"/></svg>
											span Закрыть
										.slider__arrows
											.arr__lft
												<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
											.arr__rht
												<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
									.slider__content
										+cardBasket
										+cardBasket
										+cardBasket
										+cardBasket
										+cardBasket
					.page-basket__point
						h2 1. Контактные данные
						.point__fields
							label
								span Имя
									span *
								input(type="text" placeholder="Владимир")
							label
								span Фамилия
									span *
								input(type="text" placeholder="Путин")
							label
								span Номер телефона
									span *
								.input
									img(src="img/IcoFlag.svg" alt="Ico")
									input(type="text" placeholder="+7(495) 343-34-43")#id-phone-point
							label
								span E-mail
									span *
								input(type="email" placeholder="putin@yandex.ru")
					.page-basket__point
						h2 2. Способ получения заказа
						.point__ckeckboxes
							input(type="radio" checked name="radioSq" data-num="1")#id-radio-1
							label(for="id-radio-1")
								.label__top
									h3 Самовывоз
								p Бесплатный самовывоз товара со склада: г. Долгопрудный, Лихачевский проспект, д.18 (Ориентир - Синие ворота, далее нужно нажать на кнопку домофона и сказать, что вы заезжаете на склад люстр, после нужно подъехать к синему зданию и подняться на 3-й этаж).
								.price.price_free Бесплатно
							.labels
								input(type="radio" name="radioSq" data-num="2")#id-radio-2
								label(for="id-radio-2")
									.label__top
										h3 Курьером
									p Доставка по г. Москве и Московской области
								input(type="radio" name="radioSq" data-num="3")#id-radio-3
								label(for="id-radio-3")
									.label__top
										h3 Транспортной компанией
									span Доставка транспортной компанией по России
									p Сроки и стоимость доставки сообщит менджер при согласовании заказа

					.page-basket__point.page-basket__point_else.page-basket__point_show(data-choice="1")
						h2 3. Адрес самовывоза со склада
						.map
							img(src="img/basket/Map.jpg" alt="Map").map-img
							.map__point
								img(src="img/basket/Gps.svg" alt="Map")
							.map__popup
								.map__item
									img(src="img/basket/IcoGps.svg" alt="Ico")
									span г. Долгопрудный,<br />Лихачевский проспект, д.18
								.map__item.map__item_bold
									img(src="img/basket/IcoMetro.svg" alt="Ico")
									span Новодачная
								.map__item.map__item_bold
									img(src="img/basket/IcoPhone.svg" alt="Ico")
									span 8 (800) 343-34-34
								.map__item
									img(src="img/basket/IcoClock.svg" alt="Ico")
									span ежедневно с 10:00 до 22:00
								button.map__direction
									img(src="img/basket/IcoLocation.svg" alt="Ico")
									span Проложить маршрут
								a(href="#").map__more
									span Подробнее
									img(src="img/basket/Arrow.svg" alt="Ico")
								.popup__close
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0001 18.5714C5.27366 18.5714 1.42871 14.7265 1.42871 10C1.42871 5.27352 5.27366 1.42857 10.0001 1.42857C14.7266 1.42857 18.5716 5.27352 18.5716 10C18.5716 14.7265 14.7266 18.5714 10.0001 18.5714ZM10.0001 2.5C5.86444 2.5 2.50014 5.8643 2.50014 10C2.50014 14.1357 5.86444 17.5 10.0001 17.5C14.1358 17.5 17.5001 14.1357 17.5001 10C17.5001 5.8643 14.1358 2.5 10.0001 2.5Z" fill="#909090"/><path d="M7.02877 13.5714C6.87506 13.5714 6.72134 13.5131 6.60455 13.3954C6.3701 13.161 6.3701 12.7809 6.60455 12.5464L12.5466 6.60441C12.7812 6.36996 13.1613 6.36996 13.3957 6.60441C13.6302 6.83886 13.6302 7.21897 13.3957 7.45356L7.45358 13.3954C7.33518 13.5131 7.18161 13.5714 7.02877 13.5714Z" fill="#909090"/><path d="M12.9707 13.5714C12.8171 13.5714 12.6634 13.5131 12.5466 13.3954L6.60466 7.45364C6.37006 7.21916 6.37006 6.83902 6.60466 6.60454C6.83912 6.36992 7.21922 6.36992 7.45368 6.60454L13.3956 12.5471C13.6302 12.7815 13.6302 13.1617 13.3956 13.3962C13.2781 13.5131 13.1244 13.5714 12.9707 13.5714Z" fill="#909090"/></svg>
					.page-basket__point.page-basket__point_else.page-basket__point_hide(data-choice="2")
						h2 3. Адрес доставки
						label.address
							span Адрес доставки
								span *
							input(type="text" placeholder="г. Долгопрудный, Лихачевский проспект, д.18")
					.page-basket__point.page-basket__point_else.page-basket__point_hide(data-choice="3")
						h2 3. Адрес доставки
						label
							span Город
								span *
							input(type="text" placeholder="Москва")
						label.address
							span Адрес доставки
								span *
							input(type="text" placeholder="г. Долгопрудный, Лихачевский проспект, д.18")
					.page-basket__point
						h2 4. Способ оплаты
						input(type="checkbox")#id-bank-card
						label(for="id-bank-card").label-checkbox Банковской картой на сайте
					.page-basket__point
						h2 5. Комментарии к заказу
						label
							span Комментарий к вашему заказу
							textarea
					.page-basket__checkbox
						input(type="checkbox")#id-basket
						label(for="id-basket").label-checkbox Я ознакомился и принимаю <a href="#">Политику конфиденциальности</a> и <a href="#">Условия продажи</a>.

				.page-basket__rht
					.page-basket__info
						h2 Информация о заказе
						.info__item
							p 4 товара
							.dashed-line
							.price
								span 44 800 ₽
						.info__item
							p Скидка
							.dashed-line
							.price
								span 44 800 ₽
								.price__sale  -25%
						.info__promocode
							span Промокод
							.promocode__inner
								input(placeholder="UFO129394")
								button Ок
						.info__delivery
							p Доставка
							.delivery__item
								b Москва
								.dashed-line
								span Уточняется<br />менеджером
						.info__bottom
							.info__total
								b Итого
								.dashed-line
								.price
									span 40 000 ₽
							a(href="#").info__submit Подтвердить заказ
							.info__free
								img(src="img/basket/ico1.svg" alt="Ico")
								span До бесплатной доставки: <b>300 ₽</b>

			+email

	include includes/footer.pug



























	