extends includes/header.pug

block content


	+breadcrumbs

	main.page-blog


		.wrapper

			h1.main-title-h1 Блог

			.page-blog__sides.mb-100
				.navigation
					h3.navigation__top Категории
					ul.navigation__list
						li
							a(href="#")
								span Идеи и советы
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>
						li.li_active
							a(href="#")
								span Советы дизайнеров
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>
						li
							a(href="#")
								span Гид по товарам
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>
					.navigation__tags
						ul
							li
								a(href="#") Ванная
							li
								a(href="#") Декор
							li
								a(href="#") Душ
							li
								a(href="#") Кухня
							li
								a(href="#") Мебель
							li
								a(href="#") Рекомендация дизайнера
							li
								a(href="#") Сантехника
							li
								a(href="#") Санузел
							li
								a(href="#") Светильники
							li
								a(href="#") Совет эксперта
							li
								a(href="#") Спальня
							li
								a(href="#") Столовая

				.page-blog__rht
					.page-blog__block
						a(href="#").page-blog__item
							.item__photo
								img(src="img/index/blog1.jpg" alt="Photo")
							.item__tags
								.tag.tag_orange Освещение
								.tag.tag_purpul Офис
								.tag.tag_green Мебель
							.item__center
								.item__persone
									img(src="img/index/persone1.jpg" alt="Photo")
									span Наталья Коваленко
								.item__time
									img(src="img/index/clock.svg" alt="Photo")
									span читать 4 минуты
							h3.item__title Как выбрать освещение для офиса?
							p.item__text.
								Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.
							.item__bottom
								.show-more-link
									span Подробнее
									<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#00A887"/></svg>
								.item__date
									img(src="img/index/calendar.svg" alt="Ico")
									span 24.12.2021
						a(href="#").page-blog__item
							.item__photo
								img(src="img/index/blog1.jpg" alt="Photo")
							.item__tags
								.tag.tag_orange Освещение
								.tag.tag_purpul Офис
								.tag.tag_green Мебель
							.item__center
								.item__persone
									img(src="img/index/persone1.jpg" alt="Photo")
									span Наталья Коваленко
								.item__time
									img(src="img/index/clock.svg" alt="Photo")
									span читать 4 минуты
							h3.item__title Как выбрать освещение для офиса?
							p.item__text.
								Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.
							.item__bottom
								.show-more-link
									span Подробнее
									<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#00A887"/></svg>
								.item__date
									img(src="img/index/calendar.svg" alt="Ico")
									span 24.12.2021
						a(href="#").page-blog__item
							.item__photo
								img(src="img/index/blog1.jpg" alt="Photo")
							.item__tags
								.tag.tag_orange Освещение
								.tag.tag_purpul Офис
								.tag.tag_green Мебель
							.item__center
								.item__persone
									img(src="img/index/persone1.jpg" alt="Photo")
									span Наталья Коваленко
								.item__time
									img(src="img/index/clock.svg" alt="Photo")
									span читать 4 минуты
							h3.item__title Как выбрать освещение для офиса?
							p.item__text.
								Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.
							.item__bottom
								.show-more-link
									span Подробнее
									<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#00A887"/></svg>
								.item__date
									img(src="img/index/calendar.svg" alt="Ico")
									span 24.12.2021
						a(href="#").page-blog__item
							.item__photo
								img(src="img/index/blog1.jpg" alt="Photo")
							.item__tags
								.tag.tag_orange Освещение
								.tag.tag_purpul Офис
								.tag.tag_green Мебель
							.item__center
								.item__persone
									img(src="img/index/persone1.jpg" alt="Photo")
									span Наталья Коваленко
								.item__time
									img(src="img/index/clock.svg" alt="Photo")
									span читать 4 минуты
							h3.item__title Как выбрать освещение для офиса?
							p.item__text.
								Не следует, однако забывать, что сложившаяся структура организации требуют определения и уточнения соответствующий условий активизации.
							.item__bottom
								.show-more-link
									span Подробнее
									<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3536 4.35356C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464468C16.9763 0.269205 16.6597 0.269205 16.4645 0.464468C16.2692 0.65973 16.2692 0.976312 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53554C16.6597 7.7308 16.9763 7.7308 17.1716 7.53554L20.3536 4.35356ZM-4.37114e-08 4.5L20 4.5L20 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#00A887"/></svg>
								.item__date
									img(src="img/index/calendar.svg" alt="Ico")
									span 24.12.2021
					.page-blog__bottom
						.show-more
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5582 19.2834C8.99476 19.2831 7.47028 18.8112 6.19666 17.9334C4.92303 17.0555 3.96354 15.8154 3.45154 14.3852C2.93955 12.955 2.90049 11.406 3.33981 9.95336C3.77912 8.50073 4.67498 7.21669 5.90285 6.27974C7.13072 5.34278 8.6296 4.79945 10.1911 4.72528C11.7527 4.65111 13.2993 5.04978 14.616 5.86587C15.9327 6.68197 16.9541 7.87494 17.5382 9.27896C18.1222 10.683 18.24 12.2283 17.8751 13.7001L15.4538 11.356L14.5159 12.264L18.4006 16.0249L22.2852 12.2705L21.3473 11.356L19.3118 13.3395C19.5947 11.6088 19.3228 9.83576 18.533 8.25922C17.7431 6.68268 16.4731 5.37838 14.8942 4.52201C13.3152 3.66564 11.503 3.29835 9.70184 3.46961C7.90064 3.64087 6.19693 4.34245 4.82019 5.47986C3.44346 6.61726 2.45985 8.13584 2.00188 9.83102C1.54389 11.5262 1.63354 13.3166 2.25874 14.9609C2.88394 16.6053 4.01466 18.0246 5.49857 19.0277C6.98249 20.0309 8.74831 20.5696 10.5582 20.5714L10.5582 19.2834Z" fill="#00A887"/></svg>
							span Показать еще
						.pagination
							span.pagination__item.pagination__item_current 1
							a(href="#").pagination__item 2
							a(href="#").pagination__item 3
							a(href="#").pagination__item 4
							a(href="#").pagination__item ...
							a(href="#").pagination__item 45
							a(href="#").pagination__item
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>

			
			+email




	include includes/footer.pug



























	