extends includes/header.pug

block content


	+breadcrumbs

	main.page-brands


		.wrapper

			h1.main-title-h1
				| Бренды
				span 137 брендов

			.page-brands__top
				.search
					form(action="#")
					input(type="text" placeholder="Поиск по сайту...")
					button(type="submit")
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.37486 17.0709C8.4142 17.0762 8.45333 17.0787 8.49142 17.0787C8.91309 17.0787 9.28118 16.7667 9.33956 16.3373C9.40339 15.8679 9.07506 15.436 8.60589 15.3726C5.65423 14.9714 3.42913 12.4159 3.42913 9.42864C3.42913 6.11998 6.12047 3.42864 9.42913 3.42864C12.7378 3.42864 15.4291 6.11998 15.4291 9.42864C15.4291 11.868 13.975 14.0435 11.7254 14.9706C11.2878 15.1509 11.0792 15.6519 11.2591 16.0895C11.4395 16.5271 11.9409 16.7353 12.3781 16.5553C13.0617 16.2739 13.6858 15.8997 14.2441 15.4556L20.8227 22.0347C20.9907 22.2023 21.2096 22.2858 21.4291 22.2858C21.6486 22.2858 21.8675 22.2023 22.0352 22.0347C22.3698 21.6998 22.3698 21.1574 22.0352 20.8226L15.4586 14.2459C16.5271 12.9095 17.1434 11.2256 17.1434 9.42864C17.1434 5.17515 13.6826 1.71436 9.42913 1.71436C5.17564 1.71436 1.71484 5.17515 1.71484 9.42864C1.71484 13.2695 4.57819 16.5549 8.37486 17.0709Z" fill="white"/></svg>
						span Найти
				.select
					.select__head
						span Все
					.select__body
						.select__item
							span 1
						.select__item
							span 2
						.select__item
							span 3
						.select__item
							span 4
			.page-brands__alphabet
				.alphabet__block
					a(href="#") A
					a(href="#") B
					a(href="#") C
					a(href="#") D
					a(href="#") E
					a(href="#") F
					a(href="#") G
					a(href="#") H
					a(href="#") I
					a(href="#") J
					a(href="#") K
					a(href="#") L
					a(href="#") M
					a(href="#") N
					a(href="#").none O
					a(href="#").none P
					a(href="#") Q
					a(href="#") A
					a(href="#") S
					a(href="#") T
					a(href="#") U
					a(href="#") V
					a(href="#") W
					a(href="#") X
					a(href="#") Y
					a(href="#") Z
				.alphabet__block
					a(href="#") А
					a(href="#") Б
					a(href="#").none В
					a(href="#").none Г
					a(href="#") Д
					a(href="#").none Е
					a(href="#").none Ж
					a(href="#").none З
					a(href="#").none И
					a(href="#").none К
					a(href="#").none Л
					a(href="#").none М
					a(href="#").none Н
					a(href="#").none О
					a(href="#") П
					a(href="#").none Р
					a(href="#").none С
					a(href="#").none Т
					a(href="#").none У
					a(href="#").none Ф
					a(href="#").none Х
					a(href="#").none Ц
					a(href="#").none Ч
					a(href="#").none Ш
					a(href="#").none Э
					a(href="#").none Ю
					a(href="#").none Я

			.page-brands__block.page-brands__block-else
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/brand1.jpg" alt="Photo")
					small Italy
					.item__title Предметы интерьера
					p 36 Брендов
			.page-brands__bottom.mb-100
				button.show-more
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5587 19.2835C8.99524 19.2832 7.47077 18.8113 6.19714 17.9334C4.92352 17.0556 3.96402 15.8154 3.45203 14.3852C2.94004 12.9551 2.90098 11.406 3.3403 9.95339C3.77961 8.50076 4.67547 7.21672 5.90334 6.27977C7.13121 5.34281 8.63009 4.79948 10.1916 4.72531C11.7532 4.65114 13.2998 5.04981 14.6165 5.8659C15.9332 6.682 16.9546 7.87497 17.5387 9.27899C18.1227 10.683 18.2405 12.2283 17.8756 13.7001L15.4543 11.356L14.5164 12.2641L18.401 16.0249L22.2856 12.2705L21.3478 11.356L19.3123 13.3395C19.5952 11.6088 19.3233 9.83579 18.5335 8.25925C17.7436 6.68271 16.4736 5.37841 14.8947 4.52204C13.3157 3.66567 11.5035 3.29838 9.70233 3.46964C7.90113 3.6409 6.19741 4.34248 4.82068 5.47989C3.44395 6.61729 2.46034 8.13587 2.00236 9.83105C1.54438 11.5262 1.63403 13.3166 2.25923 14.9609C2.88443 16.6053 4.01514 18.0246 5.49906 19.0278C6.98298 20.0309 8.7488 20.5697 10.5587 20.5714L10.5587 19.2835Z" fill="#00A887"/></svg>
					span Показать еще
				.pagination
					span.pagination__item.pagination__item_current 1
					a(href="#").pagination__item 2
					a(href="#").pagination__item 3
					a(href="#").pagination__item 4
					a(href="#").pagination__item ...
					a(href="#").pagination__item 45
					a(href="#").pagination__item
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>

			
			+email




	include includes/footer.pug



























	