extends includes/header.pug

block content


	+breadcrumbs

	main.page-brands


		.wrapper

			h1.main-title-h1 Категории брендов

			.page-brands__block.mb-100
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo1.png" alt="Photo")
					.item__title Люстры
					p 36 Брендов
				a(href="#").page-brands__item
					.item__photo
						img(src="img/brands/Photo2.png" alt="Photo")
					.item__title Предметы интерьера
					p 36 Брендов

			
			+email




	include includes/footer.pug



























	