extends includes/header.pug

block content


	+breadcrumbs

	main.page-catalog

		.wrapper

			h2 Каталог товаров

			.page-catalog__grid.mb-100
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo1.jpg" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo2.png" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo1.jpg" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo2.png" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo1.jpg" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo2.png" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo1.jpg" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo2.png" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo1.jpg" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории
				.page-catalog__item
					.item__photo
						img(src="img/catalog/photo2.png" alt="Photo")
					h3.item__title Люстры
					ul.item__list
						li
							a(href="#") Большие люстры
						li
							a(href="#") Каскадные
						li
							a(href="#") Подвесные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
						li
							a(href="#") Потолочные
					a(href="#").item__more +2 категории



			+email



	include includes/footer.pug



























	