extends includes/header.pug

block content


	+breadcrumbs

	main.page-empty


		.wrapper

			.page-empty__block.mb-100

				.page-empty__figure
					img(src="img/empty/Figure.svg" alt="Ico")

				h1.main-title-h1 Cписок сравнений пуст

				p Но это никогда не поздно исправить :)

				.page-empty__sides
					img(src="img/empty/Compare.svg" alt="Ico")
					a(href="#") Перейти к покупкам


			.page-empty__slider.page-empty__slider-second.section-border.block-slider-three.mb-100
				.slider__top
					h2
						| Просмотренные товары
						span
							span 46
							span товаров
					.slider__arrows.slider__arrows_fix
						.arr__lft
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
						.arr__rht
							<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
				.slider__center
					.slider__tags
						.tag.tag_active Все
						.tag Люстры (34)
						.tag Светильники (12)
					.slider__btns
						a(href="#").compare
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.5188 12.0153L15.5037 5.64494C15.4465 5.52399 15.3465 5.42874 15.2246 5.38224L11.5075 3.94234C11.5577 2.4047 9.71933 1.66699 8.81237 2.89832C8.80678 2.89614 5.09633 1.45885 5.10025 1.46038C4.8625 1.36859 4.59494 1.48055 4.4805 1.72244L1.48339 8.05655C1.44425 8.13933 1.42748 8.2364 1.42992 8.31398C1.43859 10.3703 3.01292 12.0404 4.947 12.0404C6.88166 12.0404 8.45635 10.3693 8.46412 8.31216C8.4664 8.23227 8.44845 8.13556 8.40955 8.05424L5.95552 2.92928L8.49335 3.91237C8.49965 4.33133 8.65547 4.72428 8.93454 5.02126C9.09914 5.19644 9.29267 5.32251 9.49888 5.39963V15.2827H9.40975C7.98285 15.2827 6.82196 16.5182 6.82196 18.0368C6.82196 18.332 7.04683 18.5714 7.32419 18.5714H12.678C12.9553 18.5714 13.1802 18.332 13.1802 18.0368C13.1802 16.5182 12.0193 15.2827 10.5924 15.2827H10.5033V5.39966C10.7468 5.30858 10.9645 5.15307 11.1402 4.93773L14.3525 6.18209L11.5933 12.0154C11.554 12.0984 11.5374 12.1954 11.5398 12.2729C11.5486 14.3287 13.1225 15.9983 15.0561 15.9983C16.9897 15.9983 18.5636 14.3286 18.5723 12.2727C18.5751 12.1848 18.5545 12.0906 18.5188 12.0153ZM4.93174 3.14562L7.14242 7.76242H2.74717L4.93174 3.14562ZM4.947 10.9713C3.73335 10.9713 2.71791 10.0509 2.4846 8.83147H7.40941C7.1761 10.0509 6.16066 10.9713 4.947 10.9713ZM10.5924 16.3518C11.29 16.3518 11.8837 16.8344 12.0941 17.5023H7.90809C8.11855 16.8344 8.71222 16.3518 9.40979 16.3518H10.5924ZM9.6448 4.26534C9.44833 4.05623 9.44833 3.71599 9.6448 3.50689C9.96023 3.17117 10.505 3.40964 10.505 3.88611C10.505 4.36276 9.9601 4.60091 9.6448 4.26534ZM15.0554 7.07382L17.2549 11.7212H12.857L15.0554 7.07382ZM15.0561 14.9293C13.8429 14.9293 12.8278 14.0092 12.5945 12.7903H17.5176C17.2843 14.0092 16.2692 14.9293 15.0561 14.9293Z" fill="#00A887"/></svg>
							span Сравнить эти товары
						a(href="#").clear
							<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0011 18.5713C5.27464 18.5713 1.42969 14.7264 1.42969 9.9999C1.42969 5.27342 5.27464 1.42847 10.0011 1.42847C14.7276 1.42847 18.5725 5.27342 18.5725 9.9999C18.5725 14.7264 14.7276 18.5713 10.0011 18.5713ZM10.0011 2.4999C5.86542 2.4999 2.50112 5.8642 2.50112 9.9999C2.50112 14.1356 5.86542 17.4999 10.0011 17.4999C14.1368 17.4999 17.5011 14.1356 17.5011 9.9999C17.5011 5.8642 14.1368 2.4999 10.0011 2.4999Z" fill="#F86A45"/><path d="M7.02975 13.5713C6.87603 13.5713 6.72232 13.513 6.60553 13.3953C6.37107 13.1609 6.37107 12.7808 6.60553 12.5463L12.5475 6.60431C12.7821 6.36985 13.1622 6.36985 13.3967 6.60431C13.6312 6.83876 13.6312 7.21886 13.3967 7.45346L7.45455 13.3953C7.33615 13.513 7.18259 13.5713 7.02975 13.5713Z" fill="#F86A45"/><path d="M12.9716 13.5713C12.8181 13.5713 12.6644 13.513 12.5476 13.3953L6.60564 7.45353C6.37104 7.21906 6.37104 6.83891 6.60564 6.60443C6.84009 6.36981 7.2202 6.36981 7.45465 6.60443L13.3966 12.547C13.6312 12.7814 13.6312 13.1616 13.3966 13.3961C13.2791 13.513 13.1254 13.5713 12.9716 13.5713Z" fill="#F86A45"/></svg>
							span Очистить весь список (46)
				.slider__content
					+card
					+card
					+card
					+card
					+card

				
			+email




	include includes/footer.pug



























	