extends includes/header.pug

block content


	+breadcrumbs

	main.page-faq


		.wrapper

			h1.main-title-h1 Блог

			.page-faq__sides.mb-100
				.navigation
					h3.navigation__top Категории вопросов
					ul.navigation__list
						li
							a(href="#id-general")
								span Общие вопросы
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>
						li.li_active
							a(href="#id-lamps")
								span Лампочки
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>
						li
							a(href="#id-dimmer")
								span Диммер
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>
						li
							a(href="#id-chandelier")
								span Люстры
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>

				.page-faq__rht
					p Здесь вы найдете ответы на самые частые вопросы: о товарах на сайте и в магазинах, доставке, оплате, акциях и специальных программах, о сервисе и ремонте, а также о многом другом.
					.page-faq__block#id-general
						h2
							img(src="img/faq/ico1.svg" alt="Ico")
							span Общие вопросы

						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Какие сроки доставки? Какими транспортными компаниями вы отправляете заказы? <br />Как я могу оплатить заказ?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Могу ли я вернуть или обменять товар, если он не подошел?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Мне нужен светильник с конкретными параметрами. Как мне его найти?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Идут ли в комплекте к светильнику лампочки?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Что такое IP?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Что такое цветовая температура?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
					.page-faq__block.pt-48#id-lamps
						h2
							img(src="img/faq/ico1.svg" alt="Ico")
							span Лампочки

						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Какие лампочки я могу использовать?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Какой тип лампочек наиболее эффективный?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Какие лампочки лучше использовать с натяжными потолками?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
					.page-faq__block.pt-48#id-dimmer
						h2
							img(src="img/faq/ico1.svg" alt="Ico")
							span Диммер

						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Что такое диммер?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Все ли типы лампочек можно использовать с диммером?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
					.page-faq__block.pt-48#id-chandelier
						h2
							img(src="img/faq/ico1.svg" alt="Ico")
							span Люстры

						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Как определить, какой мощности мне нужна люстра?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Могу ли я подключить люстру самостоятельно?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Какие бывают типы крепления люстр?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).
						.page-faq__item.akkordion
							.item__head.akkordion-head
								span Как устанавливать люстру на натяжной потолок?
								img(src="img/faq/arr.svg" alt="Ico")
							.item__body.akkordion-body
								p Все зависит от типа патрона в светильнике. Самые распространенные резьбовые стандарты – E27 и E14 – позволяют использовать любой тип ламп (накаливания, галогенные, люминесцентные, светодиодные) с соответствующим типом цоколя. Штырьковые цоколи обычно используются в светодиодных и галогенных лампах. Таким образом, вы можете использовать любой тип ламп с подходящим цоколем (вид цоколя указан в характеристиках для каждой модели из нашего каталога).


			+email




	include includes/footer.pug



























	