extends includes/header.pug

block content


	+breadcrumbs

	main.page-guarantees


		.wrapper

			h1.main-title-h1 Гарантия

			.page-guarantees__switcher
				ul
					li.li_active Условия гарантии
					li Гарантийное обслуживание

			.page-guarantees__inner.mb-100

				.page-guarantees__block

					h2 Условия гарантии

					p 
						| На весь товар интернет-магазина «
						span.svetDekor Свет
							span Декор
						| » распространяются условия фирменных гарантий производителей. Наш сервисный отдел также осуществляет гарантийное и послегарантийное обслуживание светотехнических изделий.
					p
						b Фирменная гарантия производителя  
						| распространяется на подавляющее большинство представленных в каталоге позиций. Сроки и условия фирменной гарантии указаны в гарантийном талоне, либо на отдельной странице инструкции по эксплуатации.
					p Фирменная гарантия производителя дает право на бесплатный ремонт товара в сертифицированных сервисных центрах.При обращении необходимо иметь при себе гарантийный талон и чек на изделие.
					p После тестирования специалисты сервисного центра либо проводят бесплатный ремонт изделия с заменой при необходимости) деталей, либо выдают клиенту заключение о невозможности отремонтировать изделие. С заключением клиенту следует обратиться в наш интернет-магазин. Оно дает право:
					ul
						li обменять товар на аналогичный;
						li вернуть деньги за покупку.
					h2 Расширенная гарантия 18 месяцев
					p Стандартная гарантия на все товары на нашем сайте составляет 12 месяцев. Расширенная гарантия увеличивает этот срок до 18 месяцев*. Чтобы её получить, необходимо заказать установку светового оборудования сотрудниками нашего сервисного центра. При выполнении всех работ нашими сотрудниками, автоматически гарантия продлевается до 18 месяцев.
					h2 Преимущества расширенной гарантии:
					ul
						li Более длительное время на устранение возможных поломок
						li При наступлении гарантийного случая вам не нужно ехать к нам - наши специалисты приедут к вам сами и устранят поломку
						li При невозможности устранить проблему - замена светильников
						li Для замены светильника наш специалист также приедет сам по нужному адресу и проведет весь комплекс работ по замене и установке
						li Ремонтные работы включают в себя демонтаж светильника, его ремонт и установку
						li Замена светильника включает в себя демонтаж прежнего, доставку и установку нового
				.page-guarantees__block

					h2 Гарантийное обслуживание

					p 
						| Компания «
						span.svetDekor Свет
							span Декор
						| » осуществляет гарантийное обслуживание купленных в интернет-магазине товаров.
					p Для проведения гарантийного обслуживания клиенту необходимо предоставить товар и чек, подтверждающий его покупку у нас.
					p После тестирования изделие будет принято к обслуживанию. Также за клиентом остается право вернуть средства, потраченные на покупку изделия, либо заменить его на новое.
					p Обращаем внимание: возврат средств или обмен товара осуществляется в точном соответствии требованиямзаконодательства РФ и после предъявления удостоверения личности (паспорт, водительские права).
					p Более подробно с условиями гарантийного ремонта и обслуживания вы можете узнать по телефону
					p
						b 8 (800) 343-34-34 
						| или отправив запрос по электронному адресу: 
						a(href="#") info@svetdecor.ru

			+email




	include includes/footer.pug



























	