extends includes/header.pug

block content


	+breadcrumbs

	main.page-installation


		.wrapper

			.page-installation__block.mb-100

				h1.main-title-h1 Установка освещения

				p Предлагаем Вам услугу профессиональной установки светильников и качественного монтажа светового и электрического оборудования. У нас вы можете заказать монтаж следующих видов осветительной техники, при условии, что проводка до места установки уже проведена:
				ul
					li Подвесные, потолочные люстры;
					li Светильники настенные, потолочные, точечные светильники в, том числе и для установки в натяжные потолки;
					li Диммеры, в том числе и для светодиодной ленты;
					li Подсветки для картин и зеркал, в том числе и в ванной комнате;
					li Бра и споты.
				p Мы осуществляем подключение в любых помещениях, начиная от кухни и заканчивая ванной, от ресторана и до детской комнаты. Помимо монтажа, мы также можем осуществить демонтаж имеющейся осветительной техники. При необходимости мы можем просверлить дополнительные отверстия для подключения освещения, в том числе и в плитке без нарушения её целостности. Ознакомиться с ценами на установку светильников в Москве вы можете на представленной странице нашего сайта, либо по телефону: 
					b 8 (800) 343-34-34. 
				p Преимущества, которые Вы получаете: монтаж в день доставки и оплата по факту выполненных работ.
				.page-installation__prize
					img(src="img/installation/ico1.svg" alt="Ico")
					p 18 месяцев 
						a(href="#") расширенной гарантии
						|  на светильники при условии монтажа нашим специалистом.
				h2 Стоимость услуг по установке светильников
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Простые люстры/светильники (без хрусталя)
						tbody
							tr
								td
									span Сборка+установка моделей стоимостью до 5 000 руб.
								td
									b 1 400 руб
							tr
								td
									span Сборка+установка моделей стоимостью до 10 000 руб.
								td
									b 1 700 руб
							tr
								td
									span Сборка+установка моделей стоимостью до 20 000 руб.
								td
									b 2 200 руб
							tr
								td
									span Сборка+установка моделей стоимостью свыше 30 000 руб.
								td
									b 10% от стоимости товара
							tr
								td
									span Сборка + установка хрустальных люстр
								td
									b 400 руб. к базовой стоимости
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Бра/споты/подсветки
						tbody
							tr
								td
									span Сборка + установка
								td
									b 900 руб
							tr
								td
									span Установка выключателя в бра
								td
									b 300 руб
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Установка встраиваемых светильников
						tbody
							tr
								td
									span Установка в готовое отверстие с проведенной проводкой
								td
									b 300 руб за 1 шт.
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Демонтаж старого светильника
						tbody
							tr
								td
									span Демонтаж старого светильника
								td
									b 300 руб за 1 шт.
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Торшеры
						tbody
							tr
								td
									span Сборка + установка торшера
								td
									b 1 200 руб
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Розетки/Выключатели
						tbody
							tr
								td
									span Установка розетки/выключателя <br />(без стоимости розетки/выключателя)
								td
									b 500 руб
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Шнур с выключателем
						tbody
							tr
								td
									span Установка шнура с выключателем (при необходимости)
								td
									b 300 руб
				.table-ovf
					table
						thead
							tr
								td(colspan="2") Переделка люстры под двухклавишный выключатель
						tbody
							tr
								td
									span Установка розетки/выключателя <br />(без стоимости розетки/выключателя)
								td
									b 300 руб

				.page-installation__fire
					img(src="img/installation/ico2.svg" alt="Ico")
					.text
						big Скидки на установку
						p При сумме монтажных работ 
							b от 5 000 руб. 
							| предоставляется 
							b скидка 5% 
							| на работы <br />При сумме монтажных работ 
							b от 10 000 руб. 
							| предоставляется скидка 10% на работы <br />
							b Минимальный заказ на электромонтажные работы 900 руб.

			+email




	include includes/footer.pug



























	