extends includes/header.pug

block content


	+breadcrumbs

	main.page-payment


		.wrapper

			h1.main-title-h1 Оплата


			.page-payment__block.mb-100
				.page-payment__item
					h3.item__title Наличными курьеру
					p При получении товара. Все необходимые сопроводительные документы курьер вручит вместе с заказом. Внимание! Товары со статусом "под заказ" поставляются только после предоплаты.
				.page-payment__item
					h3.item__title Банковской картой на сайте
					p Оплата покупки при заказе на сайте. Мы принимаем платежные карты VISA/VISA Electron, МИР/JCB и MasterCard/Maestro.
					.item__payments
						img(src="img/payments/IcoPayment1.svg" alt="Payment")
						img(src="img/payments/IcoPayment2.svg" alt="Payment")
						img(src="img/payments/IcoPayment3.svg" alt="Payment")
						img(src="img/payments/IcoPayment4.svg" alt="Payment")
						img(src="img/payments/IcoPayment5.svg" alt="Payment")
						img(src="img/payments/IcoPayment6.svg" alt="Payment")
						img(src="img/payments/IcoPayment7.svg" alt="Payment")
				.page-payment__item
					h3.item__title Банковской картой курьеру
					p При получении товара. Все необходимые сопроводительные документы курьер вручит вместе c заказом. Внимание! Товары со статусом "под заказ" поставляются только после предоплаты.
					.item__payments
						img(src="img/payments/IcoPayment1.svg" alt="Payment")
						img(src="img/payments/IcoPayment2.svg" alt="Payment")
						img(src="img/payments/IcoPayment3.svg" alt="Payment")
						img(src="img/payments/IcoPayment4.svg" alt="Payment")
						img(src="img/payments/IcoPayment5.svg" alt="Payment")
						img(src="img/payments/IcoPayment6.svg" alt="Payment")
						img(src="img/payments/IcoPayment7.svg" alt="Payment")
				.page-payment__item
					h3.item__title
						span Картой рассрочки
						img(src="img/payments/IcoPayment2.svg" alt="Payment")
					p При получении товара. Все необходимые сопроводительные документы курьер вручит вместе с заказом. Внимание! Товары со статусом "под заказ" поставляются только после предоплаты.
				.page-payment__item
					h3.item__title Безналичным переводом
					p Перечисление денежных средств безналичным переводом для оплаты заказа - это быстро, удобно и безопасно. <a href="#">Реквизиты</a> нашей компании для перевода на расчетный счет.
				.page-payment__item
					h3.item__title Оплата по ссылке
					p После обсуждения заказа с менеджером, мы отправим вам ссылку на оплату. Перейдите по ссылке, и вы сможете оплатить заказ в течение 1-й минуты.



			+email




	include includes/footer.pug



























	