extends includes/header.pug

block content


	+breadcrumbs

	main.page-profile

		.page-profile__main

			.wrapper.mb-100

				nav.page-profile__navigation
					ul
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoUser-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoUser-h.svg" alt="Ico").ico-h
								span Личные данные
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoSearch-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoSearch-h.svg" alt="Ico").ico-h
								span Корзина
						li.li_active
							a(href="#")
								.li__ico
									img(src="img/profile/IcoBasket-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoBasket-h.svg" alt="Ico").ico-h
								span История покупок
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoChat-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoChat-h.svg" alt="Ico").ico-h
								span Избранное
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoCompare-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoCompare-h.svg" alt="Ico").ico-h
								span Сравнение
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoDoor-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoDoor-h.svg" alt="Ico").ico-h
								span Просмотренные товары
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoHeart-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoHeart-h.svg" alt="Ico").ico-h
								span Мои отзывы
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoHistory-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoHistory-h.svg" alt="Ico").ico-h
								span Мои подписки
						li
							a(href="#")
								.li__ico
									img(src="img/profile/IcoMail-d.svg" alt="Ico").ico-d
									img(src="img/profile/IcoMail-h.svg" alt="Ico").ico-h
								span Выход


				.page-profile__history

					h1.main-title-h1 История покупок

					.history__item.history__item_success.akkordion
						.item__head.akkordion-head
							.head__lft-block
								.head__lft
									span № 356 986 701 от 10.01.20
									p Выполнен
								.head__center
									span Сумма заказа
									p 11 200 ₽
							.head__rht
								.head__photo
									img(src="img/profile/Photo1.jpg" alt="Photo")
								.head__arr
									img(src="img/profile/Arr.svg" alt="Photo")
						.item__body.akkordion-body
							.body__top
								.body__lft
									h3 Информация о заказе
									p Курьерская доставка
									p Москва, ул. Сумская 134
									p Путин Владимир Владимирович
									p +7(495) 343-34-43
									p putin@yandex.ru
								.body__center
									.center__photo
										img(src="img/profile/Photo1.jpg" alt="Photo")
									.center__info
										.center__title Потолочная люстра Vele Luce Intenso VL1413L06
										.center__art
											span Артикул:  
											p SD-345TM43
										.center__count
											span Кол-во:
											p 2
										.center__price 11 200 ₽
								.body__rht
									.rht__block.rht__block_btns
										button.button-review
											img(src="img/profile/IcoChat.svg" alt="Ico")
											span Написать отзыв
										button.button-repeat
											span Повторить заказ
									.rht__block
										.rht__item
											span Оплата
											.bd-line
											span Картой на сайте
										.rht__item
											span Доставка
											.bd-line
											span Бесплатно
										.rht__item.rht__item_total
											span.total Итого
											.bd-line
											span.price 40 000 ₽
							.body__bottom
								button.button-review
									img(src="img/profile/IcoChat.svg" alt="Ico")
									span Написать отзыв
								button.button-repeat
									span Повторить заказ
					.history__item.history__item_canceled.akkordion
						.item__head.akkordion-head
							.head__lft-block
								.head__lft
									span № 356 986 701 от 10.01.20
									p Отменен
								.head__center
									span Сумма заказа
									p 11 200 ₽
							.head__rht
								.head__photo
									img(src="img/profile/Photo1.jpg" alt="Photo")
								.head__arr
									img(src="img/profile/Arr.svg" alt="Photo")
						.item__body.akkordion-body
							.body__top
								.body__lft
									h3 Информация о заказе
									p Курьерская доставка
									p Москва, ул. Сумская 134
									p Путин Владимир Владимирович
									p +7(495) 343-34-43
									p putin@yandex.ru
								.body__center
									.center__photo
										img(src="img/profile/Photo1.jpg" alt="Photo")
									.center__info
										.center__title Потолочная люстра Vele Luce Intenso VL1413L06
										.center__art
											span Артикул:  
											p SD-345TM43
										.center__count
											span Кол-во:
											p 2
										.center__price 11 200 ₽
								.body__rht
									.rht__block.rht__block_btns
										button.button-review
											img(src="img/profile/IcoChat.svg" alt="Ico")
											span Написать отзыв
										button.button-repeat
											span Повторить заказ
									.rht__block
										.rht__item
											span Оплата
											.bd-line
											span Картой на сайте
										.rht__item
											span Доставка
											.bd-line
											span Бесплатно
										.rht__item.rht__item_total
											span.total Итого
											.bd-line
											span.price 40 000 ₽
							.body__bottom
								button.button-review
									img(src="img/profile/IcoChat.svg" alt="Ico")
									span Написать отзыв
								button.button-repeat
									span Повторить заказ
					.history__item.history__item_progress.akkordion
						.item__head.akkordion-head
							.head__lft-block
								.head__lft
									span № 356 986 701 от 10.01.20
									p Товар в пути
								.head__center
									span Сумма заказа
									p 11 200 ₽
							.head__rht
								.head__photo
									img(src="img/profile/Photo1.jpg" alt="Photo")
								.head__arr
									img(src="img/profile/Arr.svg" alt="Photo")
						.item__body.akkordion-body
							.body__top
								.body__lft
									h3 Информация о заказе
									p Курьерская доставка
									p Москва, ул. Сумская 134
									p Путин Владимир Владимирович
									p +7(495) 343-34-43
									p putin@yandex.ru
								.body__center
									.center__photo
										img(src="img/profile/Photo1.jpg" alt="Photo")
									.center__info
										.center__title Потолочная люстра Vele Luce Intenso VL1413L06
										.center__art
											span Артикул:  
											p SD-345TM43
										.center__count
											span Кол-во:
											p 2
										.center__price 11 200 ₽
								.body__rht
									.rht__block.rht__block_btns
										button.button-review
											img(src="img/profile/IcoChat.svg" alt="Ico")
											span Написать отзыв
										button.button-repeat
											span Повторить заказ
									.rht__block
										.rht__item
											span Оплата
											.bd-line
											span Картой на сайте
										.rht__item
											span Доставка
											.bd-line
											span Бесплатно
										.rht__item.rht__item_total
											span.total Итого
											.bd-line
											span.price 40 000 ₽
							.body__bottom
								button.button-review
									img(src="img/profile/IcoChat.svg" alt="Ico")
									span Написать отзыв
								button.button-repeat
									span Повторить заказ
					.history__bottom
						.show-more
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5587 19.2835C8.99524 19.2832 7.47077 18.8113 6.19714 17.9334C4.92352 17.0556 3.96402 15.8154 3.45203 14.3852C2.94004 12.9551 2.90098 11.406 3.3403 9.95339C3.77961 8.50076 4.67547 7.21672 5.90334 6.27977C7.13121 5.34281 8.63009 4.79948 10.1916 4.72531C11.7532 4.65114 13.2998 5.04981 14.6165 5.8659C15.9332 6.682 16.9546 7.87497 17.5387 9.27899C18.1227 10.683 18.2405 12.2283 17.8756 13.7001L15.4543 11.356L14.5164 12.2641L18.401 16.0249L22.2856 12.2705L21.3478 11.356L19.3123 13.3395C19.5952 11.6088 19.3233 9.83579 18.5335 8.25925C17.7436 6.68271 16.4736 5.37841 14.8947 4.52204C13.3157 3.66567 11.5035 3.29838 9.70233 3.46964C7.90113 3.6409 6.19741 4.34248 4.82068 5.47989C3.44395 6.61729 2.46034 8.13587 2.00236 9.83105C1.54438 11.5262 1.63403 13.3166 2.25923 14.9609C2.88443 16.6053 4.01514 18.0246 5.49906 19.0278C6.98298 20.0309 8.7488 20.5697 10.5587 20.5714L10.5587 19.2835Z" fill="#00A887"/></svg>
							span Показать еще покупки
						.pagination
							span.pagination__item.pagination__item_current 1
							a(href="#").pagination__item 2
							a(href="#").pagination__item 3
							a(href="#").pagination__item 4
							a(href="#").pagination__item ...
							a(href="#").pagination__item 45
							a(href="#").pagination__item
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>





				


		.wrapper

			+email



	include includes/footer.pug



























	