extends includes/header.pug

block content


	+breadcrumbs

	main.page-requisites


		.wrapper

			h1.main-title-h1 Реквизиты


			.page-requisites__block.mb-100
				.page-requisites__item
					.item__lft
						span Полное название организации
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							span Индивидуальный предприниматель
							p Варданян Грачья Робертович 
							input(type="text" value='Варданян Грачья Робертович ')
				.page-requisites__item
					.item__lft
						span Сокращенное название организации
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p ИП Варданян Грачья Робертович 
							input(type="text" value='ИП Варданян Грачья Робертович ')
				.page-requisites__item
					.item__lft
						span Юридический адрес и почтовый адрес
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p Россия, 127253, г.Москва, п. Толстопальцево, ул. Чкалова, д. 1, кор. 1, д. 2
							input(type="text" value='Россия, 127253, г.Москва, п. Толстопальцево, ул. Чкалова, д. 1, кор. 1, д. 2')
				.page-requisites__item
					.item__lft
						span Фактический адрес
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p Россия, 127253, г.Москва, п. Толстопальцево, ул. Чкалова, д. 1, кор. 1, д. 2
							input(type="text" value='Россия, 127253, г.Москва, п. Толстопальцево, ул. Чкалова, д. 1, кор. 1, д. 2')
				.page-requisites__item
					.item__lft
						span ИНН
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 772588684167
							input(type="text" value='772588684167')
				.page-requisites__item
					.item__lft
						span ЕГРИП
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 318774600677077
							input(type="text" value='318774600677077')
				.page-requisites__item
					.item__lft
						span ОКПО
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 0141818001
							input(type="text" value='0141818001')
				.page-requisites__item
					.item__lft
						span ОКВЭД/ОКФС/ОКОПФ
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 47.91/16/50102 
							input(type="text" value='47.91/16/50102 ')
				.page-requisites__item
					.item__lft
						span Руководитель
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p Варданян Грачья Робертович 
							input(type="text" value='Варданян Грачья Робертович ')
				.page-requisites__item
					.item__lft
						span Название банка
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p ПАО  "СБЕРБАНК России", г. Москва
							input(type="text" value='ПАО  "СБЕРБАНК России", г. Москва')
				.page-requisites__item
					.item__lft
						span Адрес банка
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p г.Москва
							input(type="text" value='г.Москва')
				.page-requisites__item
					.item__lft
						span Расчётный счет
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 408 028 107 380 001 25 879 
							input(type="text" value='408 028 107 380 001 25 879 ')
				.page-requisites__item
					.item__lft
						span Кореспондентский счёт
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 301 018 104 000 000 00 225 
							input(type="text" value='301 018 104 000 000 00 225 ')
				.page-requisites__item
					.item__lft
						span ЭДО
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p СБИС - ТЕНЗОР
							input(type="text" value='СБИС - ТЕНЗОР')
				.page-requisites__item
					.item__lft
						span БИК
					.item__rht
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8571 1.71423H7.31692C5.98189 1.71423 4.89583 2.80361 4.89583 4.14269V4.89458H4.13594C2.80091 4.89458 1.71484 5.98395 1.71484 7.32378V19.8572C1.71484 21.1963 2.80091 22.2857 4.13594 22.2857H16.6765C18.0159 22.2857 19.1053 21.1963 19.1053 19.8572V19.1053H19.8571C21.1965 19.1053 22.2863 18.0159 22.2863 16.6761V4.14262C22.2862 2.80361 21.1965 1.71423 19.8571 1.71423ZM17.6189 19.8571C17.6189 20.3768 17.1962 20.7992 16.6765 20.7992H4.13594C3.62063 20.7992 3.20118 20.3768 3.20118 19.8571V7.3237C3.20118 6.80406 3.6207 6.38089 4.13594 6.38089H5.639H16.6765C17.1962 6.38089 17.6189 6.80399 17.6189 7.3237V18.362V19.8571ZM20.7999 16.676C20.7999 17.1957 20.3771 17.6189 19.8571 17.6189H19.1052V7.3237C19.1052 5.98395 18.0159 4.8945 16.6765 4.8945H6.38209V4.14262C6.38209 3.62298 6.80161 3.20054 7.31685 3.20054H19.8571C20.3771 3.20054 20.7999 3.62298 20.7999 4.14262V16.676Z" fill="#3E3E3E"/></svg>
						.text
							p 044525225
							input(type="text" value='044525225')


			+email




	include includes/footer.pug



























	