extends includes/header.pug

block content


	+breadcrumbs

	main.page-return


		.wrapper

			h1.main-title-h1 Возврат

			.page-return__inner.mb-100

				p По вопросам возврата товара и/или при возникновении претензий к качеству товара вы можете обратиться к сотрудникам Сервисного отдела по телефону 
					b +7(495) 343-34-43
					| . Ниже мы подробно рассказываем о том, как правильно оформить возврат товара и как рассматриваются заявки на возврат.
				p Если вы не нашли в тексте ответа на свой вопрос — обратитесь к сотрудникам Сервисного отдела по контактам, указанным выше.

				h2 Возврат товара надлежащего качества

				p Возврат товара надлежащего качества 
					b без объяснения причин возможен в течение 7 дней
					| с момента получения товара (Статья 26.1. Дистанционный способ продажи товара п.4).

				p Для оформления возврата товара надлежащего качества должны быть соблюдены следующие условия:

				ul
					li Сохранен товарный вид и потребительские свойства товара;
					li Сохранена полная комплектация товара;
					li Упаковка комплектующих не нарушена;
					li Отсутствуют следы монтажа;
					li Товар не устанавливался/не был в употреблении;
					li Сохранены товарный вид и целостность заводской упаковки (фабричные ярлыки, наклейки, отсутствие сторонних надписей и повреждений упаковки);
					li Наличие чека, а также документов, подтверждающих факт и условия покупки указанного товара.

				p Покупатель не вправе отказаться от покупки товара, выполненного по индивидуальному заказу, который не может быть приобретен другими клиентами магазина.

				h2 Возврат товара ненадлежащего качества

				p На каждый товар, устанавливается срок гарантии, который указывается в сопроводительных документах.

				h2 Виды брака

				.inner__block
					.inner__item
						.item__top
							img(src="img/return/ico1.svg" alt="Ico")
							span Существенный
						p Качество изделия не соответствует заявленным характеристикам
					.inner__item
						.item__top
							img(src="img/return/ico3.svg" alt="Ico")
							span Скрытый
						p Данный вид брака обнаруживается во время эксплуатации товара или при длительном хранении
					.inner__item
						.item__top
							img(src="img/return/ico2.svg" alt="Ico")
							span Явный
						p Данный вид брака обнаруживается при выполнении обычного визуального осмотра

				p На каждый товар, устанавливается срок гарантии, который указывается в сопроводительных документах.

				h2 Почему мне отказали в возврате товара?

				p Причиной отказа в возврате товара ненадлежащего качества может быть следующее:

				ol
					li Дефект возник из-за действий покупателя и неправильной эксплуатации товара;
					li Покупатель был заранее проинформирован о имеющихся недостатках (покупка уцененного товара);
					li Срок действия гарантии закончился.

				p
					b.top ВАЖНО:
					b В случае, если товар был в употреблении, он принимается в момент обращения на проверку подлинности брака. Проверка проводится в срок до 10 календарных дней. В случае подтверждения брака, возврат денежных средств покупателю осуществляется в соответствии с Законодательством РФ. В случае, если подлинность брака не подтверждается, денежные средства покупателю не возвращаются.

				h2 Возврат товара по причине ошибки магазина

				p Причины для возврата по ошибке интернет-гипермаркета «
					span.svetDekor Свет
						span Декор
					| »:

				ul
					li Неправильная/неполная комплектация заказа;
					li Несоответствие товара, заказанному на сайте.

				p
					b.top ВАЖНО:
					b Товар принимается назад только в полной комплектации, со всеми упаковками и наклейками, без следов эксплуатации.
				p
					b Претензии принимаются в момент получения товара. Все претензии по ошибкам в заказе после оплаты не принимаются. Исключение составляют заказы, доставка которых осуществляется через транспортные компании. В этом случае вернуть покупку можно в течение 7 календарных дней с момента получения товара на руки.

				button Вернуть товар


			+email




	include includes/footer.pug



























	