extends includes/header.pug

block content


	+breadcrumbs

	main.page-single


		.fix-line
			.fix-line__photo
				img(src="img/single/Photo1.jpg" alt="Photo")
			.fix-line__info
				h3 Потолочная люстра Vele Luce Intenso VL1413L06
				.price
					.price__main 250 ₽
					del.price__old 332 Р
					.price__sale -25%
			button.fix-line__button
				span В корзину
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.34177 15.143H8.34271C8.3435 15.143 8.34428 15.1428 8.34507 15.1428H19.2719C19.5409 15.1428 19.7775 14.9567 19.8514 14.687L22.2621 5.88696C22.314 5.69724 22.2776 5.49329 22.1639 5.33582C22.0499 5.17835 21.8718 5.0857 21.6826 5.0857H6.95184L6.52102 3.06363C6.45965 2.77602 6.21513 2.57141 5.93262 2.57141H2.31655C1.98366 2.57141 1.71387 2.8528 1.71387 3.19998C1.71387 3.54717 1.98366 3.82855 2.31655 3.82855H5.44922C5.5255 4.18687 7.51089 13.5051 7.62515 14.0412C6.98464 14.3316 6.5353 14.9976 6.5353 15.7714C6.5353 16.8112 7.34641 17.6571 8.34334 17.6571H19.2719C19.6048 17.6571 19.8746 17.3757 19.8746 17.0286C19.8746 16.6814 19.6048 16.4 19.2719 16.4H8.34334C8.01108 16.4 7.74066 16.1179 7.74066 15.7714C7.74066 15.4254 8.01014 15.1438 8.34177 15.143ZM20.8836 6.34284L18.8173 13.8857H8.82674L7.2196 6.34284H20.8836Z" fill="white"/><path d="M7.74023 19.5429C7.74023 20.5827 8.55134 21.4287 9.54827 21.4287C10.5452 21.4287 11.3563 20.5827 11.3563 19.5429C11.3563 18.5032 10.5452 17.6572 9.54827 17.6572C8.55134 17.6572 7.74023 18.5032 7.74023 19.5429ZM9.54827 18.9144C9.88053 18.9144 10.151 19.1964 10.151 19.5429C10.151 19.8895 9.88053 20.1715 9.54827 20.1715C9.21601 20.1715 8.94559 19.8895 8.94559 19.5429C8.94559 19.1964 9.21601 18.9144 9.54827 18.9144Z" fill="white"/><path d="M16.2588 19.5429C16.2588 20.5827 17.0699 21.4287 18.0668 21.4287C19.0638 21.4287 19.8749 20.5827 19.8749 19.5429C19.8749 18.5032 19.0638 17.6572 18.0668 17.6572C17.0699 17.6572 16.2588 18.5032 16.2588 19.5429ZM18.0668 18.9144C18.3991 18.9144 18.6695 19.1964 18.6695 19.5429C18.6695 19.8895 18.3991 20.1715 18.0668 20.1715C17.7346 20.1715 17.4641 19.8895 17.4641 19.5429C17.4641 19.1964 17.7346 18.9144 18.0668 18.9144Z" fill="white"/></svg>



		.page-single__tabs
			.wrapper
				a(href="#id-all").tabs__item.tabs__item_active Все о товаре
				a(href="#id-characteristics").tabs__item Характеристики
				a(href="#id-description").tabs__item Описание
				a(href="#id-review").tabs__item Отзывы (12)

		.wrapper

			.page-single__product#id-all
				.page-single__photo
					.photo__lft
						.photo__arrows
							.arr__lft
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.724753 9L5.65443e-08 8.35321L6 3L12 8.35321L11.2752 9L6.00051 4.29382L0.724753 9Z" fill="#3E3E3E"/></svg>
							.arr__rht
								<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.2752 3L12 3.64679L6 9L-5.65443e-08 3.64679L0.724754 3L5.99949 7.70618L11.2752 3Z" fill="#3E3E3E"/></svg>
						.photo__nav
							.nav__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							.nav__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							.nav__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							.nav__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							.nav__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							.nav__item
								img(src="img/single/Photo1.jpg" alt="Photo")
					.photo__for
						.for__item.photo-zoom
							img(src="img/single/Photo1.jpg" alt="Photo" data-large="img/single/Photo1.jpg")
						.for__item.photo-zoom
							img(src="img/single/Photo1.jpg" alt="Photo" data-large="img/single/Photo1.jpg")
						.for__item.photo-zoom
							img(src="img/single/Photo1.jpg" alt="Photo" data-large="img/single/Photo1.jpg")
						.for__item.photo-zoom
							img(src="img/single/Photo1.jpg" alt="Photo" data-large="img/single/Photo1.jpg")
						.for__item.photo-zoom
							img(src="img/single/Photo1.jpg" alt="Photo" data-large="img/single/Photo1.jpg")
						.for__item.photo-zoom
							img(src="img/single/Photo1.jpg" alt="Photo" data-large="img/single/Photo1.jpg")
				.page-single__info
					.info__block-1
						.info__rating
							.stars
								.star
									img(src="img/star-full.svg" alt="star")
								.star
									img(src="img/star-full.svg" alt="star")
								.star
									img(src="img/star-full.svg" alt="star")
								.star
									img(src="img/star-full.svg" alt="star")
								.star
									img(src="img/star-empty.svg" alt="star")
							a(href="#") 12 отзывов
						h1.info__title Потолочная люстра Vele Luce Intenso VL1413L06
						.info__block
							.info__art
								.art__item
									span Артикул: 
									p SD-345TM43
								.art__item
									span Бренд: 
									a(href="#") Vele Luce
								.art__item
									span Страна: 
									a(href="#") Италия
							.info__size
								.art__item
									span Высота: 
									p 45мм
								.art__item
									span Длина: 
									p 235мм
								.art__item
									span Диаметр: 
									p 35мм
					.info__block-2
						.info__color
							span Цвет:
							a(href="#").color__item.color__item_active
								img(src="img/single/Photo1.jpg" alt="Photo")
							a(href="#").color__item
								img(src="img/single/Photo1.jpg" alt="Photo")
						.info__series
							span Серии:
							a(href="#").series__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							a(href="#").series__item
								img(src="img/single/Photo1.jpg" alt="Photo")
							a(href="#").series__item
								img(src="img/single/Photo1.jpg" alt="Photo")
					.info__block-3
						.block-3__lft
							.info__price
								.price__main 11 200 ₽
								del.price__old 14 500 ₽
								.price__sale -25%
							.info__stock
								img(src="img/single/stock-green.svg" alt="Photo")
								span В наличии 55 шт.
							.info__count
								.count__block
									.count__input
										.input__minus
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.81502 7.42859C1.63534 7.43186 1.46434 7.49347 1.33865 7.60028C1.21296 7.70709 1.14258 7.8506 1.14258 8.00002C1.14258 8.14944 1.21296 8.29288 1.33865 8.39969C1.46434 8.50649 1.63534 8.56817 1.81502 8.57145H14.1844C14.3641 8.56817 14.5351 8.50649 14.6608 8.39969C14.7865 8.29288 14.8569 8.14944 14.8569 8.00002C14.8569 7.8506 14.7865 7.70709 14.6608 7.60028C14.5351 7.49347 14.3641 7.43186 14.1844 7.42859H1.81502Z" fill="#262028"/></svg>
										.input__field
											input(type="text" value="1")
										.input__plus
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99972 14.8571C7.82212 14.8571 7.65179 14.7866 7.52621 14.661C7.40063 14.5354 7.33008 14.3651 7.33008 14.1875V1.81247C7.33008 1.63486 7.40063 1.46454 7.52621 1.33896C7.65179 1.21337 7.82212 1.14282 7.99972 1.14282C8.17732 1.14282 8.34765 1.21337 8.47323 1.33896C8.59881 1.46454 8.66936 1.63486 8.66936 1.81247V14.1875C8.66936 14.3651 8.59881 14.5354 8.47323 14.661C8.34765 14.7866 8.17732 14.8571 7.99972 14.8571Z" fill="#262028"/><path d="M14.1872 8.66961H1.81222C1.63462 8.66961 1.46429 8.59906 1.33871 8.47347C1.21313 8.34789 1.14258 8.17757 1.14258 7.99997C1.14258 7.82237 1.21313 7.65204 1.33871 7.52646C1.46429 7.40087 1.63462 7.33032 1.81222 7.33032H14.1872C14.3648 7.33032 14.5351 7.40087 14.6607 7.52646C14.7863 7.65204 14.8569 7.82237 14.8569 7.99997C14.8569 8.17757 14.7863 8.34789 14.6607 8.47347C14.5351 8.59906 14.3648 8.66961 14.1872 8.66961Z" fill="#262028"/></svg>
									button.count__basket В корзину
								.count__buttons
									a(href="#").count__favorite
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0005 21.4286C11.7077 21.4286 11.4253 21.3192 11.2053 21.1207C10.3743 20.372 9.57303 19.6684 8.86614 19.0477L8.86253 19.0445C6.79005 17.2248 5.00038 15.6533 3.75516 14.1053C2.36319 12.3747 1.71484 10.7338 1.71484 8.94127C1.71484 7.19967 2.29445 5.59293 3.34678 4.41683C4.41167 3.22682 5.87285 2.57141 7.46162 2.57141C8.64909 2.57141 9.73657 2.95822 10.6938 3.721C11.1769 4.10602 11.6148 4.57724 12.0005 5.12689C12.3865 4.57724 12.8242 4.10602 13.3074 3.721C14.2647 2.95822 15.3521 2.57141 16.5396 2.57141C18.1282 2.57141 19.5896 3.22682 20.6545 4.41683C21.7068 5.59293 22.2862 7.19967 22.2862 8.94127C22.2862 10.7338 21.638 12.3747 20.2461 14.1051C19.0009 15.6533 17.2113 17.2246 15.1392 19.0442C14.431 19.6658 13.6286 20.3705 12.7956 21.121C12.5757 21.3192 12.2932 21.4286 12.0005 21.4286ZM7.46162 3.81301C6.21342 3.81301 5.06677 4.32627 4.23259 5.25836C3.38602 6.20451 2.91973 7.51241 2.91973 8.94127C2.91973 10.4489 3.46355 11.7972 4.68287 13.3131C5.86139 14.7783 7.61433 16.3174 9.64398 18.0996L9.64774 18.1029C10.3573 18.7259 11.1617 19.4323 11.9988 20.1865C12.841 19.4308 13.6466 18.7233 14.3576 18.0993C16.3871 16.3171 18.1398 14.7783 19.3184 13.3131C20.5375 11.7972 21.0813 10.4489 21.0813 8.94127C21.0813 7.51241 20.6151 6.20451 19.7685 5.25836C18.9345 4.32627 17.7877 3.81301 16.5396 3.81301C15.6252 3.81301 14.7857 4.11249 14.0445 4.70305C13.3839 5.22957 12.9237 5.89517 12.6539 6.36089C12.5152 6.60038 12.271 6.74333 12.0005 6.74333C11.7301 6.74333 11.4859 6.60038 11.3472 6.36089C11.0775 5.89517 10.6174 5.22957 9.95661 4.70305C9.21535 4.11249 8.37584 3.81301 7.46162 3.81301Z" fill="#3E3E3E"/></svg>
										span В избранное
									a(href="#").count__compare
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.2218 14.4184L18.6037 6.774C18.535 6.62886 18.415 6.51456 18.2687 6.45876L13.8082 4.73089C13.8684 2.88572 11.6624 2.00046 10.5741 3.47805C10.5674 3.47544 6.11482 1.75069 6.11952 1.75253C5.83421 1.64238 5.51315 1.77674 5.37582 2.067L1.77929 9.66794C1.73232 9.76727 1.71219 9.88375 1.71512 9.97685C1.72553 12.4445 3.61472 14.4485 5.93562 14.4485C8.25721 14.4485 10.1468 12.4433 10.1562 9.97467C10.1589 9.87879 10.1374 9.76274 10.0907 9.66516L7.14584 3.51521L10.1912 4.69492C10.1988 5.19767 10.3858 5.6692 10.7207 6.02558C10.9182 6.2358 11.1504 6.38709 11.3979 6.47962V18.3393H11.2909C9.57864 18.3393 8.18557 19.8219 8.18557 21.6443C8.18557 21.9985 8.45541 22.2857 8.78825 22.2857H15.2128C15.5456 22.2857 15.8155 21.9985 15.8155 21.6443C15.8155 19.8219 14.4224 18.3393 12.7101 18.3393H12.6032V6.47967C12.8954 6.37037 13.1566 6.18376 13.3674 5.92535L17.2223 7.41859L13.9111 14.4185C13.864 14.5182 13.8441 14.6345 13.847 14.7275C13.8575 17.1945 15.7462 19.198 18.0665 19.198C20.3869 19.198 22.2756 17.1944 22.286 14.7274C22.2893 14.6218 22.2646 14.5088 22.2218 14.4184ZM5.9173 3.77482L8.57012 9.31498H3.29582L5.9173 3.77482ZM5.93562 13.1657C4.47924 13.1657 3.26071 12.0612 2.98074 10.5978H8.8905C8.61054 12.0612 7.39201 13.1657 5.93562 13.1657ZM12.7101 19.6222C13.5472 19.6222 14.2596 20.2013 14.5122 21.0029H9.48892C9.74148 20.2013 10.4539 19.6222 11.291 19.6222H12.7101ZM11.573 5.11848C11.3372 4.86755 11.3372 4.45926 11.573 4.20834C11.9515 3.80548 12.6052 4.09164 12.6052 4.66341C12.6052 5.23539 11.9513 5.52116 11.573 5.11848ZM18.0656 8.48865L20.7051 14.0655H15.4276L18.0656 8.48865ZM18.0665 17.9152C16.6107 17.9152 15.3926 16.8112 15.1126 15.3484H21.0203C20.7404 16.8111 19.5223 17.9152 18.0665 17.9152Z" fill="#3E3E3E"/></svg>
										span В сравнение
							.info__click
								.input
									img(src="img/single/Icoflag.svg" alt="Photo")
									input(type="text" placeholder="+7 (___) ___ - __ - __").click__input
								button Купить в 1 клик
						.block-3__rht
							.mini__sections
								.mini__block
									.block__top
										span Доставка по г. Москва
										<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794435 3.12654C0.613029 2.95818 0.318632 2.95775 0.136757 3.12567C0.0455856 3.20993 -1.40011e-08 3.32031 -1.8826e-08 3.43069C-2.36385e-08 3.54079 0.0452804 3.65073 0.135819 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#262028"/></svg>
								.mini__block
									.block__top
										span Обмен / возврат
										<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794435 3.12654C0.613029 2.95818 0.318632 2.95775 0.136757 3.12567C0.0455856 3.20993 -1.40011e-08 3.32031 -1.8826e-08 3.43069C-2.36385e-08 3.54079 0.0452804 3.65073 0.135819 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#262028"/></svg>
								.mini__block
									.block__top
										span Cпособы оплаты
										<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794435 3.12654C0.613029 2.95818 0.318632 2.95775 0.136757 3.12567C0.0455856 3.20993 -1.40011e-08 3.32031 -1.8826e-08 3.43069C-2.36385e-08 3.54079 0.0452804 3.65073 0.135819 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#262028"/></svg>
								.mini__whatsapp
									img(src="img/single/Icowhatsapp.svg" alt="Ico")
									span Написать в Whatsapp


			.page-single__bottom.mb-100
				.page-single__left
					.page-single__characteristics#id-characteristics
						.characteristics__item
							h3 Основные
							ul
								li
									span Артикул:  
									p SD-345TM43 
								li
									span Бренд:  
									a(href="#") Vele Luce 
								li
									span Страна бренда:  
									a(href="#") Италия 
								li
									span Страна производитель:  
									p Китай 
								li
									span Коллекция:  
									p Intenso 
								li
									span Стиль:  
									a(href="#") Модерн 
						.characteristics__item
							h3 Основные
							ul
								li
									span Артикул:  
									p SD-345TM43 
								li
									span Бренд:  
									a(href="#") Vele Luce 
								li
									span Страна бренда:  
									a(href="#") Италия 
								li
									span Страна производитель:  
									p Китай 
								li
									span Коллекция:  
									p Intenso 
								li
									span Стиль:  
									a(href="#") Модерн 
						.characteristics__item
							h3 Основные
							ul
								li
									span Артикул:  
									p SD-345TM43 
								li
									span Бренд:  
									a(href="#") Vele Luce 
								li
									span Страна бренда:  
									a(href="#") Италия 
								li
									span Страна производитель:  
									p Китай 
								li
									span Коллекция:  
									p Intenso 
								li
									span Стиль:  
									a(href="#") Модерн 
						.characteristics__item
							h3 Основные
							ul
								li
									span Артикул:  
									p SD-345TM43 
								li
									span Бренд:  
									a(href="#") Vele Luce 
								li
									span Страна бренда:  
									a(href="#") Италия 
								li
									span Страна производитель:  
									p Китай 
								li
									span Коллекция:  
									p Intenso 
								li
									span Стиль:  
									a(href="#") Модерн 
						.characteristics__item
							h3 Основные
							ul
								li
									span Артикул:  
									p SD-345TM43 
								li
									span Бренд:  
									a(href="#") Vele Luce 
								li
									span Страна бренда:  
									a(href="#") Италия 
								li
									span Страна производитель:  
									p Китай 
								li
									span Коллекция:  
									p Intenso 
								li
									span Стиль:  
									a(href="#") Модерн 
					.page-single__description.section-border#id-description
						h2 Описание
						p Непревзойденная модель 2767/4 от итальянской компании Odeon Light относится к коллекции Country и отлично подойдет для установки на потолок кафе и ресторанов, оформленных в стиле кантри. Подвесная люстра Odeon Light Fabo 2767/4 с цилиндрическими плафонами осветит помещение площадью 13.3 кв. м. Производитель Odeon Light рекомендует использовать для устройства лампы накаливания с цоколем E27 и мощностью 60 W. Прибор произведен с использованием материалов: дерево, металл и стекло и может использоваться для натяжного потолка. Основным цветом товара является белый и коричневый. Торопитесь сделать заказ в интернет-магазине <b>СветДекор</b>.

					.page-single__slider.page-single__slider-second.section-border.block-slider-three
						.slider__top
							h2
								| Хиты продаж
								span
									span 12 343
									span товаров
							.slider__arrows
								.arr__lft
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
								.arr__rht
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
						.slider__center
							.slider__tags
								.tag.tag_active Все
								.tag Люстры (34)
								.tag Светильники (12)
						.slider__content
							+card
							+card
							+card
							+card
							+card
					.page-single__slider.page-single__slider-second.section-border.block-slider-three
						.slider__top
							h2
								| Просмотренные товары
								span
									span 46
									span товаров
							.slider__arrows.slider__arrows_fix
								.arr__lft
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
								.arr__rht
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
						.slider__content
							+card
							+card
							+card
							+card
							+card

					.page-single__reviews.section-border#id-review
						h2
							| Отзывы покупателей
							span
								span 12
								span отзывов
						.review__top
							.review__rating
								.item__top
									h3 Общий рейтинг
								.item__inner
									.item__general
										b 4,5
										.stars
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-empty.svg" alt="Star")
										span 12 отзывов
									.item__lft
										.item__count
											span 5
											.star
												img(src="img/star-full.svg" alt="Star")
											.progress-line
												.done(style="width: 75%")
											a(href="#") 11 отзывов
										.item__count
											span 4
											.star
												img(src="img/star-full.svg" alt="Star")
											.progress-line
												.done(style="width: 25%")
											a(href="#") 2 отзыва
										.item__count
											span 3
											.star
												img(src="img/star-full.svg" alt="Star")
											.progress-line
												.done
											span.zero 0
										.item__count
											span 2
											.star
												img(src="img/star-full.svg" alt="Star")
											.progress-line
												.done
											span.zero 0
										.item__count
											span 1
											.star
												img(src="img/star-full.svg" alt="Star")
											.progress-line
												.done
											span.zero 0

							.review__photos
								.item__top
									h3 Фотографии и видео покупателей
								.item__inner
									.item__photo
										img(src="img/single/Photo3.jpg" alt="Photo")
									.item__photo
										img(src="img/single/Photo3.jpg" alt="Photo")
									a(href="#").item__photo.item__photo_more Еще
						.review__write
							p Оставьте свой отзыв об этом товаре
							button
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0483 1.71423C12.0426 1.71975 12.0314 1.71975 12.0146 1.71975C6.33429 1.71975 1.71484 6.25587 1.71484 11.8337C1.71484 14.11 2.50627 16.3202 3.9544 18.1005L2.45575 21.5177C2.33227 21.7988 2.46698 22.124 2.74762 22.2398C2.84866 22.2839 2.96092 22.2949 3.06756 22.2784L8.56262 21.3303C9.66276 21.7217 10.819 21.9201 11.9865 21.9146C17.6668 21.9146 22.2862 17.3785 22.2862 11.8006C22.2975 6.23933 17.7117 1.71975 12.0483 1.71423ZM11.9921 20.8178C10.9088 20.8178 9.83676 20.6249 8.82082 20.2501C8.7254 20.2115 8.62437 20.206 8.52333 20.2225L3.89828 21.0162L5.1219 18.2218C5.20609 18.0288 5.17241 17.8029 5.03209 17.643C4.36976 16.8879 3.84215 16.0281 3.47169 15.0966C3.05634 14.0549 2.84304 12.9471 2.84304 11.8282C2.84304 6.85664 6.96294 2.81657 12.0202 2.81657C17.0662 2.80555 21.1637 6.81255 21.1693 11.7676C21.1693 11.7786 21.1693 11.7896 21.1693 11.8006C21.1693 16.7777 17.0494 20.8178 11.9921 20.8178Z" fill="white"/><path d="M11.5532 9.7998H8.52223C8.21352 9.7998 7.96094 10.0478 7.96094 10.351C7.96094 10.6541 8.21352 10.9021 8.52223 10.9021H11.5532C11.8619 10.9021 12.1145 10.6541 12.1145 10.351C12.1145 10.0478 11.8619 9.7998 11.5532 9.7998Z" fill="white"/><path d="M15.4823 12.5558H8.52223C8.21352 12.5558 7.96094 12.8038 7.96094 13.107C7.96094 13.4101 8.21352 13.6581 8.52223 13.6581H15.4823C15.791 13.6581 16.0436 13.4101 16.0436 13.107C16.0436 12.8038 15.791 12.5558 15.4823 12.5558Z" fill="white"/></svg>
								span Написать отзыв
						.review__block
							.review__item
								.item__main
									.item__top
										.item__name Владимир
										.item__date 10 января 2021
										.item__link
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7781 11.0073C17.6822 11.1 17.6056 11.2109 17.553 11.3334C17.5003 11.456 17.4726 11.5879 17.4714 11.7213C17.4703 11.8546 17.4957 11.9869 17.5462 12.1104C17.5967 12.2339 17.6713 12.3461 17.7657 12.4404C17.86 12.5347 17.9722 12.6093 18.0956 12.6598C18.2191 12.7103 18.3514 12.7358 18.4848 12.7346C18.6182 12.7334 18.75 12.7057 18.8726 12.6531C18.9952 12.6004 19.106 12.5239 19.1987 12.4279L20.7499 10.8767C21.7422 9.86148 22.2941 8.49594 22.2859 7.07635C22.2778 5.65676 21.7103 4.29763 20.7065 3.29381C19.7026 2.28999 18.3435 1.72246 16.9239 1.71432C15.5043 1.70619 14.1388 2.25811 13.1235 3.25036L11.5723 4.80156C11.4764 4.89424 11.3998 5.00509 11.3472 5.12767C11.2945 5.25024 11.2668 5.38207 11.2657 5.51547C11.2645 5.64887 11.2899 5.78116 11.3404 5.90463C11.391 6.0281 11.4656 6.14027 11.5599 6.2346C11.6542 6.32893 11.7664 6.40353 11.8899 6.45404C12.0133 6.50456 12.1456 6.52998 12.279 6.52882C12.4124 6.52766 12.5442 6.49995 12.6668 6.44729C12.7894 6.39464 12.9002 6.3181 12.9929 6.22215L14.5441 4.67095C14.8577 4.35393 15.2308 4.10201 15.6421 3.92967C16.0534 3.75734 16.4946 3.668 16.9406 3.66678C17.3865 3.66556 17.8282 3.75249 18.2404 3.92257C18.6526 4.09265 19.0271 4.34252 19.3424 4.65783C19.6577 4.97313 19.9076 5.34765 20.0777 5.75985C20.2478 6.17205 20.3347 6.61381 20.3335 7.05972C20.3323 7.50563 20.2429 7.9469 20.0706 8.35816C19.8983 8.76942 19.6463 9.14257 19.3293 9.45615L17.7781 11.0073Z" fill="#00A887"/><path d="M6.23288 12.9926C6.32905 12.8999 6.40576 12.789 6.45853 12.6665C6.5113 12.5439 6.53908 12.412 6.54024 12.2786C6.5414 12.1453 6.51593 12.013 6.4653 11.8895C6.41467 11.766 6.3399 11.6538 6.24536 11.5595C6.15082 11.4652 6.03839 11.3906 5.91465 11.3401C5.7909 11.2896 5.65831 11.2641 5.52461 11.2653C5.39092 11.2665 5.25879 11.2942 5.13594 11.3468C5.01309 11.3995 4.90199 11.476 4.8091 11.572L3.25442 13.1232C2.25995 14.1384 1.70678 15.504 1.71493 16.9236C1.72308 18.3431 2.2919 19.7023 3.29797 20.7061C4.30404 21.7099 5.66622 22.2774 7.089 22.2856C8.51178 22.2937 9.88039 21.7418 10.8979 20.7495L12.4526 19.1983C12.636 19.0089 12.7375 18.7551 12.7352 18.4917C12.7329 18.2282 12.627 17.9763 12.4403 17.79C12.2536 17.6037 12.0011 17.4981 11.7371 17.4958C11.4731 17.4935 11.2187 17.5947 11.0288 17.7778L9.47414 19.3289C8.83697 19.9578 7.97622 20.3094 7.08001 20.3069C6.18381 20.3045 5.325 19.9482 4.69129 19.3159C4.05757 18.6836 3.70046 17.8267 3.69801 16.9325C3.69556 16.0383 4.04796 15.1795 4.6782 14.5438L6.23288 12.9926Z" fill="#00A887"/><path d="M7.90946 16.0931C8.11119 16.2948 8.38476 16.4081 8.67001 16.4081C8.95525 16.4081 9.22882 16.2948 9.43056 16.0931L16.0797 9.44187C16.1825 9.34261 16.2644 9.22387 16.3208 9.09258C16.3772 8.9613 16.4068 8.8201 16.4081 8.67722C16.4093 8.53434 16.3821 8.39264 16.328 8.2604C16.2739 8.12815 16.194 8.00801 16.093 7.90697C15.992 7.80594 15.8719 7.72603 15.7397 7.67193C15.6075 7.61782 15.4659 7.5906 15.323 7.59184C15.1802 7.59308 15.039 7.62276 14.9078 7.67916C14.7765 7.73555 14.6578 7.81753 14.5586 7.92031L7.90946 14.5661C7.80879 14.6661 7.7289 14.7851 7.67438 14.9161C7.61986 15.0471 7.5918 15.1877 7.5918 15.3296C7.5918 15.4715 7.61986 15.612 7.67438 15.7431C7.7289 15.8741 7.80879 15.993 7.90946 16.0931Z" fill="#00A887"/></svg>
									.item__center
										.stars
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-empty.svg" alt="Star")
										p Очень прекрасно смотрится в гостинной
										.item__dignity
											b Достоинства:
											p Люстра просто отличная.
										.item__limitation
											b Недостатки:
											p Не нашёл
									.item__bottom
										button.item__answer
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5367 13.2141L12.1439 13.2141L12.1439 15.8926C12.1439 16.1144 12.2799 16.3126 12.4857 16.393C12.6914 16.4722 12.926 16.4165 13.076 16.2526L18.4332 10.3599C18.6186 10.1564 18.6186 9.84459 18.4332 9.63995L13.076 3.74727C12.9721 3.6337 12.8274 3.57156 12.6796 3.57156C12.6142 3.57156 12.5489 3.58335 12.4857 3.60692C12.2799 3.68727 12.1439 3.88548 12.1439 4.10726L12.1439 6.78575L10.6535 6.78575C7.59558 6.78575 4.6341 5.69079 2.31335 3.70013C2.15585 3.56407 1.92977 3.53299 1.7412 3.62085C1.55048 3.70763 1.42941 3.89834 1.42941 4.10726C1.42941 9.1289 5.51483 13.2141 10.5367 13.2141ZM10.6535 7.85715L12.6796 7.85715C12.9753 7.85715 13.2153 7.61715 13.2153 7.32145L13.2153 5.49258L17.3125 9.99994L13.2153 14.5073L13.2153 12.6784C13.2153 12.3827 12.9753 12.1427 12.6796 12.1427L10.5367 12.1427C8.39059 12.1427 6.37199 11.307 4.85482 9.78995C3.61516 8.55034 2.82979 6.97646 2.58443 5.27294C4.93089 6.94646 7.75201 7.85715 10.6535 7.85715Z" fill="#00A887"/></svg>
											span Ответить
										.item__likes
											.like
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.0561 13.083C18.4175 12.6349 18.5908 12.1545 18.5687 11.6598C18.5466 11.1149 18.2958 10.6883 18.0893 10.4266C18.329 9.84587 18.4212 8.93173 17.6209 8.22192C17.0346 7.70211 16.0389 7.4691 14.6596 7.53363C13.6897 7.57664 12.8784 7.7523 12.8452 7.75947H12.8415C12.6571 7.79174 12.4617 7.83117 12.2625 7.87419C12.2478 7.64476 12.2884 7.07476 12.7235 5.79138C13.2398 4.26422 13.2103 3.09555 12.6276 2.31405C12.0155 1.49312 11.0382 1.42859 10.7505 1.42859C10.474 1.42859 10.2195 1.53972 10.0388 1.74406C9.62944 2.20651 9.67738 3.05971 9.72901 3.45404C9.24222 4.72309 7.87773 7.83475 6.72344 8.69871C6.70131 8.71305 6.68287 8.73097 6.66444 8.7489C6.32516 9.09663 6.09651 9.47304 5.94162 9.80285C5.72404 9.68813 5.47696 9.62361 5.21144 9.62361H2.96187C2.11367 9.62361 1.42773 10.294 1.42773 11.1149V16.9403C1.42773 17.7649 2.11736 18.4316 2.96187 18.4316H5.21144C5.53965 18.4316 5.84574 18.3313 6.09651 18.1592L6.96315 18.2596C7.09591 18.2775 9.45611 18.5679 11.879 18.5213C12.3179 18.5535 12.7309 18.5714 13.1144 18.5714C13.7745 18.5714 14.3498 18.5213 14.8293 18.4209C15.9577 18.1879 16.7285 17.7218 17.1194 17.0371C17.4181 16.5137 17.4181 15.9939 17.3702 15.6641C18.104 15.0188 18.2331 14.3054 18.2073 13.8036C18.1926 13.5132 18.1262 13.2658 18.0561 13.083ZM2.96187 17.4637C2.66315 17.4637 2.42345 17.2271 2.42345 16.9403V11.1113C2.42345 10.821 2.66684 10.5879 2.96187 10.5879H5.21144C5.51015 10.5879 5.74986 10.8245 5.74986 11.1113V16.9367C5.74986 17.2271 5.50646 17.4601 5.21144 17.4601H2.96187V17.4637ZM17.112 12.6636C16.9571 12.8213 16.9276 13.0615 17.0456 13.2479C17.0456 13.2515 17.1968 13.5024 17.2153 13.8466C17.2411 14.3162 17.0088 14.732 16.522 15.087C16.3486 15.216 16.2786 15.4383 16.3523 15.639C16.3523 15.6426 16.5109 16.1158 16.2528 16.5639C16.0057 16.9941 15.4562 17.3024 14.6227 17.4745C13.9553 17.6143 13.048 17.6394 11.9343 17.5533C11.9196 17.5533 11.9011 17.5533 11.8827 17.5533C9.51143 17.6035 7.11435 17.3024 7.08853 17.2988H7.08485L6.71238 17.2558C6.7345 17.1554 6.74557 17.0479 6.74557 16.9403V11.1113C6.74557 10.9572 6.71975 10.8066 6.6755 10.6668C6.74188 10.4266 6.92627 9.89247 7.36143 9.43719C9.01726 8.16098 10.6362 3.85555 10.7063 3.66913C10.7358 3.59385 10.7432 3.5114 10.7284 3.42895C10.6657 3.02744 10.6878 2.53631 10.7764 2.38933C10.9718 2.39292 11.4992 2.44669 11.8163 2.87329C12.1925 3.37876 12.1777 4.28215 11.7721 5.47949C11.1525 7.30419 11.1009 8.26494 11.5914 8.68795C11.8348 8.89946 12.1593 8.91022 12.3953 8.82776C12.6203 8.77758 12.8342 8.73456 13.037 8.70229C13.0517 8.69871 13.0702 8.69512 13.0849 8.69154C14.2171 8.45135 16.2454 8.30437 16.9498 8.92814C17.5472 9.4587 17.1231 10.1613 17.0751 10.2366C16.9387 10.4374 16.9793 10.6991 17.1637 10.8604C17.1673 10.864 17.5546 11.2189 17.573 11.6957C17.5878 12.0147 17.4329 12.3409 17.112 12.6636Z" fill="#00A887"/></svg>
												span 3
											.dislike
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.94389 6.91699C1.58249 7.3651 1.40916 7.84548 1.43129 8.34019C1.45341 8.88509 1.70419 9.31169 1.9107 9.57338C1.671 10.1541 1.5788 11.0683 2.37906 11.7781C2.96542 12.2979 3.96113 12.5309 5.34037 12.4664C6.31027 12.4234 7.12159 12.2477 7.15478 12.2405L7.15847 12.2405C7.34286 12.2083 7.53831 12.1688 7.73746 12.1258C7.75221 12.3552 7.71164 12.9252 7.27648 14.2086C6.76018 15.7358 6.78969 16.9044 7.37236 17.6859C7.98454 18.5069 8.96181 18.5714 9.24946 18.5714C9.52605 18.5714 9.78051 18.4603 9.96121 18.2559C10.3706 17.7935 10.3226 16.9403 10.271 16.546C10.7578 15.2769 12.1223 12.1652 13.2766 11.3013C13.2987 11.287 13.3171 11.269 13.3356 11.2511C13.6748 10.9034 13.9035 10.527 14.0584 10.1972C14.276 10.3119 14.523 10.3764 14.7886 10.3764L17.0381 10.3764C17.8863 10.3764 18.5723 9.70602 18.5723 8.88509L18.5723 3.05967C18.5723 2.23515 17.8826 1.56836 17.0381 1.56836L14.7886 1.56836C14.4603 1.56836 14.1543 1.66874 13.9035 1.84081L13.0369 1.74044C12.9041 1.72251 10.5439 1.43214 8.12099 1.47874C7.68214 1.44648 7.2691 1.42855 6.88557 1.42855C6.22545 1.42855 5.65015 1.47874 5.17073 1.57912C4.04226 1.81214 3.27151 2.27817 2.8806 2.96288C2.58189 3.48627 2.58189 4.00608 2.62983 4.33589C1.89595 4.98116 1.76688 5.69455 1.79269 6.19643C1.80745 6.48681 1.87383 6.73417 1.94389 6.91699ZM17.0381 2.53628C17.3368 2.53628 17.5766 2.77288 17.5766 3.05967L17.5766 8.88867C17.5766 9.17905 17.3332 9.41206 17.0381 9.41206L14.7886 9.41206C14.4899 9.41206 14.2501 9.17546 14.2501 8.88867L14.2501 3.06326C14.2501 2.77288 14.4935 2.53986 14.7886 2.53986L17.0381 2.53986L17.0381 2.53628V2.53628ZM2.88798 7.33642C3.04286 7.17869 3.07237 6.9385 2.95436 6.75209C2.95436 6.7485 2.80316 6.49756 2.78472 6.15342C2.7589 5.6838 2.99123 5.26795 3.47803 4.91305C3.65135 4.784 3.72142 4.56173 3.64767 4.36098C3.64767 4.3574 3.48909 3.88419 3.74724 3.43608C3.99432 3.0059 4.54381 2.6976 5.37725 2.52553C6.04475 2.38572 6.95195 2.36062 8.06567 2.44666C8.08042 2.44666 8.09886 2.44666 8.1173 2.44666C10.4886 2.39647 12.8856 2.6976 12.9115 2.70118L12.9152 2.70118L13.2876 2.7442C13.2655 2.84458 13.2544 2.95212 13.2544 3.05967L13.2544 8.88867C13.2544 9.04282 13.2802 9.19339 13.3245 9.3332C13.2581 9.57338 13.0737 10.1075 12.6386 10.5628C10.9827 11.839 9.36379 16.1445 9.29372 16.3309C9.26421 16.4061 9.25684 16.4886 9.27159 16.5711C9.33428 16.9726 9.31216 17.4637 9.22365 17.6107C9.02819 17.6071 8.50084 17.5533 8.18368 17.1267C7.80753 16.6212 7.82228 15.7179 8.22794 14.5205C8.84749 12.6958 8.89912 11.7351 8.40864 11.312C8.16524 11.1005 7.84071 11.0898 7.60469 11.1722C7.37974 11.2224 7.16584 11.2654 6.96301 11.2977C6.94826 11.3013 6.92982 11.3049 6.91507 11.3085C5.78291 11.5486 3.75461 11.6956 3.05024 11.0719C2.45281 10.5413 2.87691 9.83866 2.92485 9.76338C3.0613 9.56263 3.02074 9.30093 2.83635 9.13961C2.83266 9.13603 2.44544 8.78113 2.427 8.30434C2.41225 7.98529 2.56714 7.65906 2.88798 7.33642Z" fill="#909090"/></svg>
												span 0
								.review__answers
									.answer__item
										.item__top
											.item__name Ольга Чарикова
											.item__date 10 января 2021
										p Какой диаметр основания? Подскажите, пожалуйста
									.answer__item
										.item__top
											.item__name
												| Експерт
												img(src="img/single/logoExpert.svg" alt="Logo")
											.item__date 10 января 2021
										p Доброго времени суток Ольга. Диаметр основания у данной модели 35мм.
									.answer__item
										.item__top
											.item__name
												| Валерий Аветов
												img(src="img/single/logoExpert.svg" alt="Logo")
											.item__date 11 января 2021
										p А какая степень защиты у данной модели?
									.answer__more
										span Показать все ответы
										<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794437 3.12654C0.613032 2.95818 0.318634 2.95775 0.13676 3.12567C0.0455885 3.20993 2.84702e-06 3.32031 2.8422e-06 3.43069C2.83738e-06 3.54079 0.0452833 3.65073 0.135822 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#00A887"/></svg>
							.review__item
								.item__main
									.item__top
										.item__name Владимир
										.item__date 10 января 2021
										.item__link
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7781 11.0073C17.6822 11.1 17.6056 11.2109 17.553 11.3334C17.5003 11.456 17.4726 11.5879 17.4714 11.7213C17.4703 11.8546 17.4957 11.9869 17.5462 12.1104C17.5967 12.2339 17.6713 12.3461 17.7657 12.4404C17.86 12.5347 17.9722 12.6093 18.0956 12.6598C18.2191 12.7103 18.3514 12.7358 18.4848 12.7346C18.6182 12.7334 18.75 12.7057 18.8726 12.6531C18.9952 12.6004 19.106 12.5239 19.1987 12.4279L20.7499 10.8767C21.7422 9.86148 22.2941 8.49594 22.2859 7.07635C22.2778 5.65676 21.7103 4.29763 20.7065 3.29381C19.7026 2.28999 18.3435 1.72246 16.9239 1.71432C15.5043 1.70619 14.1388 2.25811 13.1235 3.25036L11.5723 4.80156C11.4764 4.89424 11.3998 5.00509 11.3472 5.12767C11.2945 5.25024 11.2668 5.38207 11.2657 5.51547C11.2645 5.64887 11.2899 5.78116 11.3404 5.90463C11.391 6.0281 11.4656 6.14027 11.5599 6.2346C11.6542 6.32893 11.7664 6.40353 11.8899 6.45404C12.0133 6.50456 12.1456 6.52998 12.279 6.52882C12.4124 6.52766 12.5442 6.49995 12.6668 6.44729C12.7894 6.39464 12.9002 6.3181 12.9929 6.22215L14.5441 4.67095C14.8577 4.35393 15.2308 4.10201 15.6421 3.92967C16.0534 3.75734 16.4946 3.668 16.9406 3.66678C17.3865 3.66556 17.8282 3.75249 18.2404 3.92257C18.6526 4.09265 19.0271 4.34252 19.3424 4.65783C19.6577 4.97313 19.9076 5.34765 20.0777 5.75985C20.2478 6.17205 20.3347 6.61381 20.3335 7.05972C20.3323 7.50563 20.2429 7.9469 20.0706 8.35816C19.8983 8.76942 19.6463 9.14257 19.3293 9.45615L17.7781 11.0073Z" fill="#00A887"/><path d="M6.23288 12.9926C6.32905 12.8999 6.40576 12.789 6.45853 12.6665C6.5113 12.5439 6.53908 12.412 6.54024 12.2786C6.5414 12.1453 6.51593 12.013 6.4653 11.8895C6.41467 11.766 6.3399 11.6538 6.24536 11.5595C6.15082 11.4652 6.03839 11.3906 5.91465 11.3401C5.7909 11.2896 5.65831 11.2641 5.52461 11.2653C5.39092 11.2665 5.25879 11.2942 5.13594 11.3468C5.01309 11.3995 4.90199 11.476 4.8091 11.572L3.25442 13.1232C2.25995 14.1384 1.70678 15.504 1.71493 16.9236C1.72308 18.3431 2.2919 19.7023 3.29797 20.7061C4.30404 21.7099 5.66622 22.2774 7.089 22.2856C8.51178 22.2937 9.88039 21.7418 10.8979 20.7495L12.4526 19.1983C12.636 19.0089 12.7375 18.7551 12.7352 18.4917C12.7329 18.2282 12.627 17.9763 12.4403 17.79C12.2536 17.6037 12.0011 17.4981 11.7371 17.4958C11.4731 17.4935 11.2187 17.5947 11.0288 17.7778L9.47414 19.3289C8.83697 19.9578 7.97622 20.3094 7.08001 20.3069C6.18381 20.3045 5.325 19.9482 4.69129 19.3159C4.05757 18.6836 3.70046 17.8267 3.69801 16.9325C3.69556 16.0383 4.04796 15.1795 4.6782 14.5438L6.23288 12.9926Z" fill="#00A887"/><path d="M7.90946 16.0931C8.11119 16.2948 8.38476 16.4081 8.67001 16.4081C8.95525 16.4081 9.22882 16.2948 9.43056 16.0931L16.0797 9.44187C16.1825 9.34261 16.2644 9.22387 16.3208 9.09258C16.3772 8.9613 16.4068 8.8201 16.4081 8.67722C16.4093 8.53434 16.3821 8.39264 16.328 8.2604C16.2739 8.12815 16.194 8.00801 16.093 7.90697C15.992 7.80594 15.8719 7.72603 15.7397 7.67193C15.6075 7.61782 15.4659 7.5906 15.323 7.59184C15.1802 7.59308 15.039 7.62276 14.9078 7.67916C14.7765 7.73555 14.6578 7.81753 14.5586 7.92031L7.90946 14.5661C7.80879 14.6661 7.7289 14.7851 7.67438 14.9161C7.61986 15.0471 7.5918 15.1877 7.5918 15.3296C7.5918 15.4715 7.61986 15.612 7.67438 15.7431C7.7289 15.8741 7.80879 15.993 7.90946 16.0931Z" fill="#00A887"/></svg>
									.item__center
										.stars
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-empty.svg" alt="Star")
										p Очень прекрасно смотрится в гостинной
										.item__dignity
											b Достоинства:
											p Люстра просто отличная.
										.item__limitation
											b Недостатки:
											p Не нашёл
											.photos
												img(src="img/single/photo4.jpg" alt="Photo")
												img(src="img/single/photo3.jpg" alt="Photo")
												img(src="img/single/photo2.jpg" alt="Photo")
									.item__bottom
										button.item__answer
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5367 13.2141L12.1439 13.2141L12.1439 15.8926C12.1439 16.1144 12.2799 16.3126 12.4857 16.393C12.6914 16.4722 12.926 16.4165 13.076 16.2526L18.4332 10.3599C18.6186 10.1564 18.6186 9.84459 18.4332 9.63995L13.076 3.74727C12.9721 3.6337 12.8274 3.57156 12.6796 3.57156C12.6142 3.57156 12.5489 3.58335 12.4857 3.60692C12.2799 3.68727 12.1439 3.88548 12.1439 4.10726L12.1439 6.78575L10.6535 6.78575C7.59558 6.78575 4.6341 5.69079 2.31335 3.70013C2.15585 3.56407 1.92977 3.53299 1.7412 3.62085C1.55048 3.70763 1.42941 3.89834 1.42941 4.10726C1.42941 9.1289 5.51483 13.2141 10.5367 13.2141ZM10.6535 7.85715L12.6796 7.85715C12.9753 7.85715 13.2153 7.61715 13.2153 7.32145L13.2153 5.49258L17.3125 9.99994L13.2153 14.5073L13.2153 12.6784C13.2153 12.3827 12.9753 12.1427 12.6796 12.1427L10.5367 12.1427C8.39059 12.1427 6.37199 11.307 4.85482 9.78995C3.61516 8.55034 2.82979 6.97646 2.58443 5.27294C4.93089 6.94646 7.75201 7.85715 10.6535 7.85715Z" fill="#00A887"/></svg>
											span Ответить
										.item__likes
											.like
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.0561 13.083C18.4175 12.6349 18.5908 12.1545 18.5687 11.6598C18.5466 11.1149 18.2958 10.6883 18.0893 10.4266C18.329 9.84587 18.4212 8.93173 17.6209 8.22192C17.0346 7.70211 16.0389 7.4691 14.6596 7.53363C13.6897 7.57664 12.8784 7.7523 12.8452 7.75947H12.8415C12.6571 7.79174 12.4617 7.83117 12.2625 7.87419C12.2478 7.64476 12.2884 7.07476 12.7235 5.79138C13.2398 4.26422 13.2103 3.09555 12.6276 2.31405C12.0155 1.49312 11.0382 1.42859 10.7505 1.42859C10.474 1.42859 10.2195 1.53972 10.0388 1.74406C9.62944 2.20651 9.67738 3.05971 9.72901 3.45404C9.24222 4.72309 7.87773 7.83475 6.72344 8.69871C6.70131 8.71305 6.68287 8.73097 6.66444 8.7489C6.32516 9.09663 6.09651 9.47304 5.94162 9.80285C5.72404 9.68813 5.47696 9.62361 5.21144 9.62361H2.96187C2.11367 9.62361 1.42773 10.294 1.42773 11.1149V16.9403C1.42773 17.7649 2.11736 18.4316 2.96187 18.4316H5.21144C5.53965 18.4316 5.84574 18.3313 6.09651 18.1592L6.96315 18.2596C7.09591 18.2775 9.45611 18.5679 11.879 18.5213C12.3179 18.5535 12.7309 18.5714 13.1144 18.5714C13.7745 18.5714 14.3498 18.5213 14.8293 18.4209C15.9577 18.1879 16.7285 17.7218 17.1194 17.0371C17.4181 16.5137 17.4181 15.9939 17.3702 15.6641C18.104 15.0188 18.2331 14.3054 18.2073 13.8036C18.1926 13.5132 18.1262 13.2658 18.0561 13.083ZM2.96187 17.4637C2.66315 17.4637 2.42345 17.2271 2.42345 16.9403V11.1113C2.42345 10.821 2.66684 10.5879 2.96187 10.5879H5.21144C5.51015 10.5879 5.74986 10.8245 5.74986 11.1113V16.9367C5.74986 17.2271 5.50646 17.4601 5.21144 17.4601H2.96187V17.4637ZM17.112 12.6636C16.9571 12.8213 16.9276 13.0615 17.0456 13.2479C17.0456 13.2515 17.1968 13.5024 17.2153 13.8466C17.2411 14.3162 17.0088 14.732 16.522 15.087C16.3486 15.216 16.2786 15.4383 16.3523 15.639C16.3523 15.6426 16.5109 16.1158 16.2528 16.5639C16.0057 16.9941 15.4562 17.3024 14.6227 17.4745C13.9553 17.6143 13.048 17.6394 11.9343 17.5533C11.9196 17.5533 11.9011 17.5533 11.8827 17.5533C9.51143 17.6035 7.11435 17.3024 7.08853 17.2988H7.08485L6.71238 17.2558C6.7345 17.1554 6.74557 17.0479 6.74557 16.9403V11.1113C6.74557 10.9572 6.71975 10.8066 6.6755 10.6668C6.74188 10.4266 6.92627 9.89247 7.36143 9.43719C9.01726 8.16098 10.6362 3.85555 10.7063 3.66913C10.7358 3.59385 10.7432 3.5114 10.7284 3.42895C10.6657 3.02744 10.6878 2.53631 10.7764 2.38933C10.9718 2.39292 11.4992 2.44669 11.8163 2.87329C12.1925 3.37876 12.1777 4.28215 11.7721 5.47949C11.1525 7.30419 11.1009 8.26494 11.5914 8.68795C11.8348 8.89946 12.1593 8.91022 12.3953 8.82776C12.6203 8.77758 12.8342 8.73456 13.037 8.70229C13.0517 8.69871 13.0702 8.69512 13.0849 8.69154C14.2171 8.45135 16.2454 8.30437 16.9498 8.92814C17.5472 9.4587 17.1231 10.1613 17.0751 10.2366C16.9387 10.4374 16.9793 10.6991 17.1637 10.8604C17.1673 10.864 17.5546 11.2189 17.573 11.6957C17.5878 12.0147 17.4329 12.3409 17.112 12.6636Z" fill="#00A887"/></svg>
												span 3
											.dislike
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.94389 6.91699C1.58249 7.3651 1.40916 7.84548 1.43129 8.34019C1.45341 8.88509 1.70419 9.31169 1.9107 9.57338C1.671 10.1541 1.5788 11.0683 2.37906 11.7781C2.96542 12.2979 3.96113 12.5309 5.34037 12.4664C6.31027 12.4234 7.12159 12.2477 7.15478 12.2405L7.15847 12.2405C7.34286 12.2083 7.53831 12.1688 7.73746 12.1258C7.75221 12.3552 7.71164 12.9252 7.27648 14.2086C6.76018 15.7358 6.78969 16.9044 7.37236 17.6859C7.98454 18.5069 8.96181 18.5714 9.24946 18.5714C9.52605 18.5714 9.78051 18.4603 9.96121 18.2559C10.3706 17.7935 10.3226 16.9403 10.271 16.546C10.7578 15.2769 12.1223 12.1652 13.2766 11.3013C13.2987 11.287 13.3171 11.269 13.3356 11.2511C13.6748 10.9034 13.9035 10.527 14.0584 10.1972C14.276 10.3119 14.523 10.3764 14.7886 10.3764L17.0381 10.3764C17.8863 10.3764 18.5723 9.70602 18.5723 8.88509L18.5723 3.05967C18.5723 2.23515 17.8826 1.56836 17.0381 1.56836L14.7886 1.56836C14.4603 1.56836 14.1543 1.66874 13.9035 1.84081L13.0369 1.74044C12.9041 1.72251 10.5439 1.43214 8.12099 1.47874C7.68214 1.44648 7.2691 1.42855 6.88557 1.42855C6.22545 1.42855 5.65015 1.47874 5.17073 1.57912C4.04226 1.81214 3.27151 2.27817 2.8806 2.96288C2.58189 3.48627 2.58189 4.00608 2.62983 4.33589C1.89595 4.98116 1.76688 5.69455 1.79269 6.19643C1.80745 6.48681 1.87383 6.73417 1.94389 6.91699ZM17.0381 2.53628C17.3368 2.53628 17.5766 2.77288 17.5766 3.05967L17.5766 8.88867C17.5766 9.17905 17.3332 9.41206 17.0381 9.41206L14.7886 9.41206C14.4899 9.41206 14.2501 9.17546 14.2501 8.88867L14.2501 3.06326C14.2501 2.77288 14.4935 2.53986 14.7886 2.53986L17.0381 2.53986L17.0381 2.53628V2.53628ZM2.88798 7.33642C3.04286 7.17869 3.07237 6.9385 2.95436 6.75209C2.95436 6.7485 2.80316 6.49756 2.78472 6.15342C2.7589 5.6838 2.99123 5.26795 3.47803 4.91305C3.65135 4.784 3.72142 4.56173 3.64767 4.36098C3.64767 4.3574 3.48909 3.88419 3.74724 3.43608C3.99432 3.0059 4.54381 2.6976 5.37725 2.52553C6.04475 2.38572 6.95195 2.36062 8.06567 2.44666C8.08042 2.44666 8.09886 2.44666 8.1173 2.44666C10.4886 2.39647 12.8856 2.6976 12.9115 2.70118L12.9152 2.70118L13.2876 2.7442C13.2655 2.84458 13.2544 2.95212 13.2544 3.05967L13.2544 8.88867C13.2544 9.04282 13.2802 9.19339 13.3245 9.3332C13.2581 9.57338 13.0737 10.1075 12.6386 10.5628C10.9827 11.839 9.36379 16.1445 9.29372 16.3309C9.26421 16.4061 9.25684 16.4886 9.27159 16.5711C9.33428 16.9726 9.31216 17.4637 9.22365 17.6107C9.02819 17.6071 8.50084 17.5533 8.18368 17.1267C7.80753 16.6212 7.82228 15.7179 8.22794 14.5205C8.84749 12.6958 8.89912 11.7351 8.40864 11.312C8.16524 11.1005 7.84071 11.0898 7.60469 11.1722C7.37974 11.2224 7.16584 11.2654 6.96301 11.2977C6.94826 11.3013 6.92982 11.3049 6.91507 11.3085C5.78291 11.5486 3.75461 11.6956 3.05024 11.0719C2.45281 10.5413 2.87691 9.83866 2.92485 9.76338C3.0613 9.56263 3.02074 9.30093 2.83635 9.13961C2.83266 9.13603 2.44544 8.78113 2.427 8.30434C2.41225 7.98529 2.56714 7.65906 2.88798 7.33642Z" fill="#909090"/></svg>
												span 0
							.review__item
								.item__main
									.item__top
										.item__name Владимир
										.item__date 10 января 2021
										.item__link
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7781 11.0073C17.6822 11.1 17.6056 11.2109 17.553 11.3334C17.5003 11.456 17.4726 11.5879 17.4714 11.7213C17.4703 11.8546 17.4957 11.9869 17.5462 12.1104C17.5967 12.2339 17.6713 12.3461 17.7657 12.4404C17.86 12.5347 17.9722 12.6093 18.0956 12.6598C18.2191 12.7103 18.3514 12.7358 18.4848 12.7346C18.6182 12.7334 18.75 12.7057 18.8726 12.6531C18.9952 12.6004 19.106 12.5239 19.1987 12.4279L20.7499 10.8767C21.7422 9.86148 22.2941 8.49594 22.2859 7.07635C22.2778 5.65676 21.7103 4.29763 20.7065 3.29381C19.7026 2.28999 18.3435 1.72246 16.9239 1.71432C15.5043 1.70619 14.1388 2.25811 13.1235 3.25036L11.5723 4.80156C11.4764 4.89424 11.3998 5.00509 11.3472 5.12767C11.2945 5.25024 11.2668 5.38207 11.2657 5.51547C11.2645 5.64887 11.2899 5.78116 11.3404 5.90463C11.391 6.0281 11.4656 6.14027 11.5599 6.2346C11.6542 6.32893 11.7664 6.40353 11.8899 6.45404C12.0133 6.50456 12.1456 6.52998 12.279 6.52882C12.4124 6.52766 12.5442 6.49995 12.6668 6.44729C12.7894 6.39464 12.9002 6.3181 12.9929 6.22215L14.5441 4.67095C14.8577 4.35393 15.2308 4.10201 15.6421 3.92967C16.0534 3.75734 16.4946 3.668 16.9406 3.66678C17.3865 3.66556 17.8282 3.75249 18.2404 3.92257C18.6526 4.09265 19.0271 4.34252 19.3424 4.65783C19.6577 4.97313 19.9076 5.34765 20.0777 5.75985C20.2478 6.17205 20.3347 6.61381 20.3335 7.05972C20.3323 7.50563 20.2429 7.9469 20.0706 8.35816C19.8983 8.76942 19.6463 9.14257 19.3293 9.45615L17.7781 11.0073Z" fill="#00A887"/><path d="M6.23288 12.9926C6.32905 12.8999 6.40576 12.789 6.45853 12.6665C6.5113 12.5439 6.53908 12.412 6.54024 12.2786C6.5414 12.1453 6.51593 12.013 6.4653 11.8895C6.41467 11.766 6.3399 11.6538 6.24536 11.5595C6.15082 11.4652 6.03839 11.3906 5.91465 11.3401C5.7909 11.2896 5.65831 11.2641 5.52461 11.2653C5.39092 11.2665 5.25879 11.2942 5.13594 11.3468C5.01309 11.3995 4.90199 11.476 4.8091 11.572L3.25442 13.1232C2.25995 14.1384 1.70678 15.504 1.71493 16.9236C1.72308 18.3431 2.2919 19.7023 3.29797 20.7061C4.30404 21.7099 5.66622 22.2774 7.089 22.2856C8.51178 22.2937 9.88039 21.7418 10.8979 20.7495L12.4526 19.1983C12.636 19.0089 12.7375 18.7551 12.7352 18.4917C12.7329 18.2282 12.627 17.9763 12.4403 17.79C12.2536 17.6037 12.0011 17.4981 11.7371 17.4958C11.4731 17.4935 11.2187 17.5947 11.0288 17.7778L9.47414 19.3289C8.83697 19.9578 7.97622 20.3094 7.08001 20.3069C6.18381 20.3045 5.325 19.9482 4.69129 19.3159C4.05757 18.6836 3.70046 17.8267 3.69801 16.9325C3.69556 16.0383 4.04796 15.1795 4.6782 14.5438L6.23288 12.9926Z" fill="#00A887"/><path d="M7.90946 16.0931C8.11119 16.2948 8.38476 16.4081 8.67001 16.4081C8.95525 16.4081 9.22882 16.2948 9.43056 16.0931L16.0797 9.44187C16.1825 9.34261 16.2644 9.22387 16.3208 9.09258C16.3772 8.9613 16.4068 8.8201 16.4081 8.67722C16.4093 8.53434 16.3821 8.39264 16.328 8.2604C16.2739 8.12815 16.194 8.00801 16.093 7.90697C15.992 7.80594 15.8719 7.72603 15.7397 7.67193C15.6075 7.61782 15.4659 7.5906 15.323 7.59184C15.1802 7.59308 15.039 7.62276 14.9078 7.67916C14.7765 7.73555 14.6578 7.81753 14.5586 7.92031L7.90946 14.5661C7.80879 14.6661 7.7289 14.7851 7.67438 14.9161C7.61986 15.0471 7.5918 15.1877 7.5918 15.3296C7.5918 15.4715 7.61986 15.612 7.67438 15.7431C7.7289 15.8741 7.80879 15.993 7.90946 16.0931Z" fill="#00A887"/></svg>
									.item__center
										.stars
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-empty.svg" alt="Star")
										p Очень прекрасно смотрится в гостинной
										.item__dignity
											b Достоинства:
											p Люстра просто отличная.
										.item__limitation
											b Недостатки:
											p Не нашёл
									.item__bottom
										button.item__answer
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5367 13.2141L12.1439 13.2141L12.1439 15.8926C12.1439 16.1144 12.2799 16.3126 12.4857 16.393C12.6914 16.4722 12.926 16.4165 13.076 16.2526L18.4332 10.3599C18.6186 10.1564 18.6186 9.84459 18.4332 9.63995L13.076 3.74727C12.9721 3.6337 12.8274 3.57156 12.6796 3.57156C12.6142 3.57156 12.5489 3.58335 12.4857 3.60692C12.2799 3.68727 12.1439 3.88548 12.1439 4.10726L12.1439 6.78575L10.6535 6.78575C7.59558 6.78575 4.6341 5.69079 2.31335 3.70013C2.15585 3.56407 1.92977 3.53299 1.7412 3.62085C1.55048 3.70763 1.42941 3.89834 1.42941 4.10726C1.42941 9.1289 5.51483 13.2141 10.5367 13.2141ZM10.6535 7.85715L12.6796 7.85715C12.9753 7.85715 13.2153 7.61715 13.2153 7.32145L13.2153 5.49258L17.3125 9.99994L13.2153 14.5073L13.2153 12.6784C13.2153 12.3827 12.9753 12.1427 12.6796 12.1427L10.5367 12.1427C8.39059 12.1427 6.37199 11.307 4.85482 9.78995C3.61516 8.55034 2.82979 6.97646 2.58443 5.27294C4.93089 6.94646 7.75201 7.85715 10.6535 7.85715Z" fill="#00A887"/></svg>
											span Ответить
										.item__likes
											.like
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.0561 13.083C18.4175 12.6349 18.5908 12.1545 18.5687 11.6598C18.5466 11.1149 18.2958 10.6883 18.0893 10.4266C18.329 9.84587 18.4212 8.93173 17.6209 8.22192C17.0346 7.70211 16.0389 7.4691 14.6596 7.53363C13.6897 7.57664 12.8784 7.7523 12.8452 7.75947H12.8415C12.6571 7.79174 12.4617 7.83117 12.2625 7.87419C12.2478 7.64476 12.2884 7.07476 12.7235 5.79138C13.2398 4.26422 13.2103 3.09555 12.6276 2.31405C12.0155 1.49312 11.0382 1.42859 10.7505 1.42859C10.474 1.42859 10.2195 1.53972 10.0388 1.74406C9.62944 2.20651 9.67738 3.05971 9.72901 3.45404C9.24222 4.72309 7.87773 7.83475 6.72344 8.69871C6.70131 8.71305 6.68287 8.73097 6.66444 8.7489C6.32516 9.09663 6.09651 9.47304 5.94162 9.80285C5.72404 9.68813 5.47696 9.62361 5.21144 9.62361H2.96187C2.11367 9.62361 1.42773 10.294 1.42773 11.1149V16.9403C1.42773 17.7649 2.11736 18.4316 2.96187 18.4316H5.21144C5.53965 18.4316 5.84574 18.3313 6.09651 18.1592L6.96315 18.2596C7.09591 18.2775 9.45611 18.5679 11.879 18.5213C12.3179 18.5535 12.7309 18.5714 13.1144 18.5714C13.7745 18.5714 14.3498 18.5213 14.8293 18.4209C15.9577 18.1879 16.7285 17.7218 17.1194 17.0371C17.4181 16.5137 17.4181 15.9939 17.3702 15.6641C18.104 15.0188 18.2331 14.3054 18.2073 13.8036C18.1926 13.5132 18.1262 13.2658 18.0561 13.083ZM2.96187 17.4637C2.66315 17.4637 2.42345 17.2271 2.42345 16.9403V11.1113C2.42345 10.821 2.66684 10.5879 2.96187 10.5879H5.21144C5.51015 10.5879 5.74986 10.8245 5.74986 11.1113V16.9367C5.74986 17.2271 5.50646 17.4601 5.21144 17.4601H2.96187V17.4637ZM17.112 12.6636C16.9571 12.8213 16.9276 13.0615 17.0456 13.2479C17.0456 13.2515 17.1968 13.5024 17.2153 13.8466C17.2411 14.3162 17.0088 14.732 16.522 15.087C16.3486 15.216 16.2786 15.4383 16.3523 15.639C16.3523 15.6426 16.5109 16.1158 16.2528 16.5639C16.0057 16.9941 15.4562 17.3024 14.6227 17.4745C13.9553 17.6143 13.048 17.6394 11.9343 17.5533C11.9196 17.5533 11.9011 17.5533 11.8827 17.5533C9.51143 17.6035 7.11435 17.3024 7.08853 17.2988H7.08485L6.71238 17.2558C6.7345 17.1554 6.74557 17.0479 6.74557 16.9403V11.1113C6.74557 10.9572 6.71975 10.8066 6.6755 10.6668C6.74188 10.4266 6.92627 9.89247 7.36143 9.43719C9.01726 8.16098 10.6362 3.85555 10.7063 3.66913C10.7358 3.59385 10.7432 3.5114 10.7284 3.42895C10.6657 3.02744 10.6878 2.53631 10.7764 2.38933C10.9718 2.39292 11.4992 2.44669 11.8163 2.87329C12.1925 3.37876 12.1777 4.28215 11.7721 5.47949C11.1525 7.30419 11.1009 8.26494 11.5914 8.68795C11.8348 8.89946 12.1593 8.91022 12.3953 8.82776C12.6203 8.77758 12.8342 8.73456 13.037 8.70229C13.0517 8.69871 13.0702 8.69512 13.0849 8.69154C14.2171 8.45135 16.2454 8.30437 16.9498 8.92814C17.5472 9.4587 17.1231 10.1613 17.0751 10.2366C16.9387 10.4374 16.9793 10.6991 17.1637 10.8604C17.1673 10.864 17.5546 11.2189 17.573 11.6957C17.5878 12.0147 17.4329 12.3409 17.112 12.6636Z" fill="#00A887"/></svg>
												span 3
											.dislike
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.94389 6.91699C1.58249 7.3651 1.40916 7.84548 1.43129 8.34019C1.45341 8.88509 1.70419 9.31169 1.9107 9.57338C1.671 10.1541 1.5788 11.0683 2.37906 11.7781C2.96542 12.2979 3.96113 12.5309 5.34037 12.4664C6.31027 12.4234 7.12159 12.2477 7.15478 12.2405L7.15847 12.2405C7.34286 12.2083 7.53831 12.1688 7.73746 12.1258C7.75221 12.3552 7.71164 12.9252 7.27648 14.2086C6.76018 15.7358 6.78969 16.9044 7.37236 17.6859C7.98454 18.5069 8.96181 18.5714 9.24946 18.5714C9.52605 18.5714 9.78051 18.4603 9.96121 18.2559C10.3706 17.7935 10.3226 16.9403 10.271 16.546C10.7578 15.2769 12.1223 12.1652 13.2766 11.3013C13.2987 11.287 13.3171 11.269 13.3356 11.2511C13.6748 10.9034 13.9035 10.527 14.0584 10.1972C14.276 10.3119 14.523 10.3764 14.7886 10.3764L17.0381 10.3764C17.8863 10.3764 18.5723 9.70602 18.5723 8.88509L18.5723 3.05967C18.5723 2.23515 17.8826 1.56836 17.0381 1.56836L14.7886 1.56836C14.4603 1.56836 14.1543 1.66874 13.9035 1.84081L13.0369 1.74044C12.9041 1.72251 10.5439 1.43214 8.12099 1.47874C7.68214 1.44648 7.2691 1.42855 6.88557 1.42855C6.22545 1.42855 5.65015 1.47874 5.17073 1.57912C4.04226 1.81214 3.27151 2.27817 2.8806 2.96288C2.58189 3.48627 2.58189 4.00608 2.62983 4.33589C1.89595 4.98116 1.76688 5.69455 1.79269 6.19643C1.80745 6.48681 1.87383 6.73417 1.94389 6.91699ZM17.0381 2.53628C17.3368 2.53628 17.5766 2.77288 17.5766 3.05967L17.5766 8.88867C17.5766 9.17905 17.3332 9.41206 17.0381 9.41206L14.7886 9.41206C14.4899 9.41206 14.2501 9.17546 14.2501 8.88867L14.2501 3.06326C14.2501 2.77288 14.4935 2.53986 14.7886 2.53986L17.0381 2.53986L17.0381 2.53628V2.53628ZM2.88798 7.33642C3.04286 7.17869 3.07237 6.9385 2.95436 6.75209C2.95436 6.7485 2.80316 6.49756 2.78472 6.15342C2.7589 5.6838 2.99123 5.26795 3.47803 4.91305C3.65135 4.784 3.72142 4.56173 3.64767 4.36098C3.64767 4.3574 3.48909 3.88419 3.74724 3.43608C3.99432 3.0059 4.54381 2.6976 5.37725 2.52553C6.04475 2.38572 6.95195 2.36062 8.06567 2.44666C8.08042 2.44666 8.09886 2.44666 8.1173 2.44666C10.4886 2.39647 12.8856 2.6976 12.9115 2.70118L12.9152 2.70118L13.2876 2.7442C13.2655 2.84458 13.2544 2.95212 13.2544 3.05967L13.2544 8.88867C13.2544 9.04282 13.2802 9.19339 13.3245 9.3332C13.2581 9.57338 13.0737 10.1075 12.6386 10.5628C10.9827 11.839 9.36379 16.1445 9.29372 16.3309C9.26421 16.4061 9.25684 16.4886 9.27159 16.5711C9.33428 16.9726 9.31216 17.4637 9.22365 17.6107C9.02819 17.6071 8.50084 17.5533 8.18368 17.1267C7.80753 16.6212 7.82228 15.7179 8.22794 14.5205C8.84749 12.6958 8.89912 11.7351 8.40864 11.312C8.16524 11.1005 7.84071 11.0898 7.60469 11.1722C7.37974 11.2224 7.16584 11.2654 6.96301 11.2977C6.94826 11.3013 6.92982 11.3049 6.91507 11.3085C5.78291 11.5486 3.75461 11.6956 3.05024 11.0719C2.45281 10.5413 2.87691 9.83866 2.92485 9.76338C3.0613 9.56263 3.02074 9.30093 2.83635 9.13961C2.83266 9.13603 2.44544 8.78113 2.427 8.30434C2.41225 7.98529 2.56714 7.65906 2.88798 7.33642Z" fill="#909090"/></svg>
												span 0
							.review__item
								.item__main
									.item__top
										.item__name Владимир
										.item__date 10 января 2021
										.item__link
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.7781 11.0073C17.6822 11.1 17.6056 11.2109 17.553 11.3334C17.5003 11.456 17.4726 11.5879 17.4714 11.7213C17.4703 11.8546 17.4957 11.9869 17.5462 12.1104C17.5967 12.2339 17.6713 12.3461 17.7657 12.4404C17.86 12.5347 17.9722 12.6093 18.0956 12.6598C18.2191 12.7103 18.3514 12.7358 18.4848 12.7346C18.6182 12.7334 18.75 12.7057 18.8726 12.6531C18.9952 12.6004 19.106 12.5239 19.1987 12.4279L20.7499 10.8767C21.7422 9.86148 22.2941 8.49594 22.2859 7.07635C22.2778 5.65676 21.7103 4.29763 20.7065 3.29381C19.7026 2.28999 18.3435 1.72246 16.9239 1.71432C15.5043 1.70619 14.1388 2.25811 13.1235 3.25036L11.5723 4.80156C11.4764 4.89424 11.3998 5.00509 11.3472 5.12767C11.2945 5.25024 11.2668 5.38207 11.2657 5.51547C11.2645 5.64887 11.2899 5.78116 11.3404 5.90463C11.391 6.0281 11.4656 6.14027 11.5599 6.2346C11.6542 6.32893 11.7664 6.40353 11.8899 6.45404C12.0133 6.50456 12.1456 6.52998 12.279 6.52882C12.4124 6.52766 12.5442 6.49995 12.6668 6.44729C12.7894 6.39464 12.9002 6.3181 12.9929 6.22215L14.5441 4.67095C14.8577 4.35393 15.2308 4.10201 15.6421 3.92967C16.0534 3.75734 16.4946 3.668 16.9406 3.66678C17.3865 3.66556 17.8282 3.75249 18.2404 3.92257C18.6526 4.09265 19.0271 4.34252 19.3424 4.65783C19.6577 4.97313 19.9076 5.34765 20.0777 5.75985C20.2478 6.17205 20.3347 6.61381 20.3335 7.05972C20.3323 7.50563 20.2429 7.9469 20.0706 8.35816C19.8983 8.76942 19.6463 9.14257 19.3293 9.45615L17.7781 11.0073Z" fill="#00A887"/><path d="M6.23288 12.9926C6.32905 12.8999 6.40576 12.789 6.45853 12.6665C6.5113 12.5439 6.53908 12.412 6.54024 12.2786C6.5414 12.1453 6.51593 12.013 6.4653 11.8895C6.41467 11.766 6.3399 11.6538 6.24536 11.5595C6.15082 11.4652 6.03839 11.3906 5.91465 11.3401C5.7909 11.2896 5.65831 11.2641 5.52461 11.2653C5.39092 11.2665 5.25879 11.2942 5.13594 11.3468C5.01309 11.3995 4.90199 11.476 4.8091 11.572L3.25442 13.1232C2.25995 14.1384 1.70678 15.504 1.71493 16.9236C1.72308 18.3431 2.2919 19.7023 3.29797 20.7061C4.30404 21.7099 5.66622 22.2774 7.089 22.2856C8.51178 22.2937 9.88039 21.7418 10.8979 20.7495L12.4526 19.1983C12.636 19.0089 12.7375 18.7551 12.7352 18.4917C12.7329 18.2282 12.627 17.9763 12.4403 17.79C12.2536 17.6037 12.0011 17.4981 11.7371 17.4958C11.4731 17.4935 11.2187 17.5947 11.0288 17.7778L9.47414 19.3289C8.83697 19.9578 7.97622 20.3094 7.08001 20.3069C6.18381 20.3045 5.325 19.9482 4.69129 19.3159C4.05757 18.6836 3.70046 17.8267 3.69801 16.9325C3.69556 16.0383 4.04796 15.1795 4.6782 14.5438L6.23288 12.9926Z" fill="#00A887"/><path d="M7.90946 16.0931C8.11119 16.2948 8.38476 16.4081 8.67001 16.4081C8.95525 16.4081 9.22882 16.2948 9.43056 16.0931L16.0797 9.44187C16.1825 9.34261 16.2644 9.22387 16.3208 9.09258C16.3772 8.9613 16.4068 8.8201 16.4081 8.67722C16.4093 8.53434 16.3821 8.39264 16.328 8.2604C16.2739 8.12815 16.194 8.00801 16.093 7.90697C15.992 7.80594 15.8719 7.72603 15.7397 7.67193C15.6075 7.61782 15.4659 7.5906 15.323 7.59184C15.1802 7.59308 15.039 7.62276 14.9078 7.67916C14.7765 7.73555 14.6578 7.81753 14.5586 7.92031L7.90946 14.5661C7.80879 14.6661 7.7289 14.7851 7.67438 14.9161C7.61986 15.0471 7.5918 15.1877 7.5918 15.3296C7.5918 15.4715 7.61986 15.612 7.67438 15.7431C7.7289 15.8741 7.80879 15.993 7.90946 16.0931Z" fill="#00A887"/></svg>
									.item__center
										.stars
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-full.svg" alt="Star")
											.star
												img(src="img/star-empty.svg" alt="Star")
										p Очень прекрасно смотрится в гостинной
										.item__dignity
											b Достоинства:
											p Люстра просто отличная.
										.item__limitation
											b Недостатки:
											p Не нашёл
									.item__bottom
										button.item__answer
											<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5367 13.2141L12.1439 13.2141L12.1439 15.8926C12.1439 16.1144 12.2799 16.3126 12.4857 16.393C12.6914 16.4722 12.926 16.4165 13.076 16.2526L18.4332 10.3599C18.6186 10.1564 18.6186 9.84459 18.4332 9.63995L13.076 3.74727C12.9721 3.6337 12.8274 3.57156 12.6796 3.57156C12.6142 3.57156 12.5489 3.58335 12.4857 3.60692C12.2799 3.68727 12.1439 3.88548 12.1439 4.10726L12.1439 6.78575L10.6535 6.78575C7.59558 6.78575 4.6341 5.69079 2.31335 3.70013C2.15585 3.56407 1.92977 3.53299 1.7412 3.62085C1.55048 3.70763 1.42941 3.89834 1.42941 4.10726C1.42941 9.1289 5.51483 13.2141 10.5367 13.2141ZM10.6535 7.85715L12.6796 7.85715C12.9753 7.85715 13.2153 7.61715 13.2153 7.32145L13.2153 5.49258L17.3125 9.99994L13.2153 14.5073L13.2153 12.6784C13.2153 12.3827 12.9753 12.1427 12.6796 12.1427L10.5367 12.1427C8.39059 12.1427 6.37199 11.307 4.85482 9.78995C3.61516 8.55034 2.82979 6.97646 2.58443 5.27294C4.93089 6.94646 7.75201 7.85715 10.6535 7.85715Z" fill="#00A887"/></svg>
											span Ответить
										.item__likes
											.like
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.0561 13.083C18.4175 12.6349 18.5908 12.1545 18.5687 11.6598C18.5466 11.1149 18.2958 10.6883 18.0893 10.4266C18.329 9.84587 18.4212 8.93173 17.6209 8.22192C17.0346 7.70211 16.0389 7.4691 14.6596 7.53363C13.6897 7.57664 12.8784 7.7523 12.8452 7.75947H12.8415C12.6571 7.79174 12.4617 7.83117 12.2625 7.87419C12.2478 7.64476 12.2884 7.07476 12.7235 5.79138C13.2398 4.26422 13.2103 3.09555 12.6276 2.31405C12.0155 1.49312 11.0382 1.42859 10.7505 1.42859C10.474 1.42859 10.2195 1.53972 10.0388 1.74406C9.62944 2.20651 9.67738 3.05971 9.72901 3.45404C9.24222 4.72309 7.87773 7.83475 6.72344 8.69871C6.70131 8.71305 6.68287 8.73097 6.66444 8.7489C6.32516 9.09663 6.09651 9.47304 5.94162 9.80285C5.72404 9.68813 5.47696 9.62361 5.21144 9.62361H2.96187C2.11367 9.62361 1.42773 10.294 1.42773 11.1149V16.9403C1.42773 17.7649 2.11736 18.4316 2.96187 18.4316H5.21144C5.53965 18.4316 5.84574 18.3313 6.09651 18.1592L6.96315 18.2596C7.09591 18.2775 9.45611 18.5679 11.879 18.5213C12.3179 18.5535 12.7309 18.5714 13.1144 18.5714C13.7745 18.5714 14.3498 18.5213 14.8293 18.4209C15.9577 18.1879 16.7285 17.7218 17.1194 17.0371C17.4181 16.5137 17.4181 15.9939 17.3702 15.6641C18.104 15.0188 18.2331 14.3054 18.2073 13.8036C18.1926 13.5132 18.1262 13.2658 18.0561 13.083ZM2.96187 17.4637C2.66315 17.4637 2.42345 17.2271 2.42345 16.9403V11.1113C2.42345 10.821 2.66684 10.5879 2.96187 10.5879H5.21144C5.51015 10.5879 5.74986 10.8245 5.74986 11.1113V16.9367C5.74986 17.2271 5.50646 17.4601 5.21144 17.4601H2.96187V17.4637ZM17.112 12.6636C16.9571 12.8213 16.9276 13.0615 17.0456 13.2479C17.0456 13.2515 17.1968 13.5024 17.2153 13.8466C17.2411 14.3162 17.0088 14.732 16.522 15.087C16.3486 15.216 16.2786 15.4383 16.3523 15.639C16.3523 15.6426 16.5109 16.1158 16.2528 16.5639C16.0057 16.9941 15.4562 17.3024 14.6227 17.4745C13.9553 17.6143 13.048 17.6394 11.9343 17.5533C11.9196 17.5533 11.9011 17.5533 11.8827 17.5533C9.51143 17.6035 7.11435 17.3024 7.08853 17.2988H7.08485L6.71238 17.2558C6.7345 17.1554 6.74557 17.0479 6.74557 16.9403V11.1113C6.74557 10.9572 6.71975 10.8066 6.6755 10.6668C6.74188 10.4266 6.92627 9.89247 7.36143 9.43719C9.01726 8.16098 10.6362 3.85555 10.7063 3.66913C10.7358 3.59385 10.7432 3.5114 10.7284 3.42895C10.6657 3.02744 10.6878 2.53631 10.7764 2.38933C10.9718 2.39292 11.4992 2.44669 11.8163 2.87329C12.1925 3.37876 12.1777 4.28215 11.7721 5.47949C11.1525 7.30419 11.1009 8.26494 11.5914 8.68795C11.8348 8.89946 12.1593 8.91022 12.3953 8.82776C12.6203 8.77758 12.8342 8.73456 13.037 8.70229C13.0517 8.69871 13.0702 8.69512 13.0849 8.69154C14.2171 8.45135 16.2454 8.30437 16.9498 8.92814C17.5472 9.4587 17.1231 10.1613 17.0751 10.2366C16.9387 10.4374 16.9793 10.6991 17.1637 10.8604C17.1673 10.864 17.5546 11.2189 17.573 11.6957C17.5878 12.0147 17.4329 12.3409 17.112 12.6636Z" fill="#00A887"/></svg>
												span 3
											.dislike
												<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.94389 6.91699C1.58249 7.3651 1.40916 7.84548 1.43129 8.34019C1.45341 8.88509 1.70419 9.31169 1.9107 9.57338C1.671 10.1541 1.5788 11.0683 2.37906 11.7781C2.96542 12.2979 3.96113 12.5309 5.34037 12.4664C6.31027 12.4234 7.12159 12.2477 7.15478 12.2405L7.15847 12.2405C7.34286 12.2083 7.53831 12.1688 7.73746 12.1258C7.75221 12.3552 7.71164 12.9252 7.27648 14.2086C6.76018 15.7358 6.78969 16.9044 7.37236 17.6859C7.98454 18.5069 8.96181 18.5714 9.24946 18.5714C9.52605 18.5714 9.78051 18.4603 9.96121 18.2559C10.3706 17.7935 10.3226 16.9403 10.271 16.546C10.7578 15.2769 12.1223 12.1652 13.2766 11.3013C13.2987 11.287 13.3171 11.269 13.3356 11.2511C13.6748 10.9034 13.9035 10.527 14.0584 10.1972C14.276 10.3119 14.523 10.3764 14.7886 10.3764L17.0381 10.3764C17.8863 10.3764 18.5723 9.70602 18.5723 8.88509L18.5723 3.05967C18.5723 2.23515 17.8826 1.56836 17.0381 1.56836L14.7886 1.56836C14.4603 1.56836 14.1543 1.66874 13.9035 1.84081L13.0369 1.74044C12.9041 1.72251 10.5439 1.43214 8.12099 1.47874C7.68214 1.44648 7.2691 1.42855 6.88557 1.42855C6.22545 1.42855 5.65015 1.47874 5.17073 1.57912C4.04226 1.81214 3.27151 2.27817 2.8806 2.96288C2.58189 3.48627 2.58189 4.00608 2.62983 4.33589C1.89595 4.98116 1.76688 5.69455 1.79269 6.19643C1.80745 6.48681 1.87383 6.73417 1.94389 6.91699ZM17.0381 2.53628C17.3368 2.53628 17.5766 2.77288 17.5766 3.05967L17.5766 8.88867C17.5766 9.17905 17.3332 9.41206 17.0381 9.41206L14.7886 9.41206C14.4899 9.41206 14.2501 9.17546 14.2501 8.88867L14.2501 3.06326C14.2501 2.77288 14.4935 2.53986 14.7886 2.53986L17.0381 2.53986L17.0381 2.53628V2.53628ZM2.88798 7.33642C3.04286 7.17869 3.07237 6.9385 2.95436 6.75209C2.95436 6.7485 2.80316 6.49756 2.78472 6.15342C2.7589 5.6838 2.99123 5.26795 3.47803 4.91305C3.65135 4.784 3.72142 4.56173 3.64767 4.36098C3.64767 4.3574 3.48909 3.88419 3.74724 3.43608C3.99432 3.0059 4.54381 2.6976 5.37725 2.52553C6.04475 2.38572 6.95195 2.36062 8.06567 2.44666C8.08042 2.44666 8.09886 2.44666 8.1173 2.44666C10.4886 2.39647 12.8856 2.6976 12.9115 2.70118L12.9152 2.70118L13.2876 2.7442C13.2655 2.84458 13.2544 2.95212 13.2544 3.05967L13.2544 8.88867C13.2544 9.04282 13.2802 9.19339 13.3245 9.3332C13.2581 9.57338 13.0737 10.1075 12.6386 10.5628C10.9827 11.839 9.36379 16.1445 9.29372 16.3309C9.26421 16.4061 9.25684 16.4886 9.27159 16.5711C9.33428 16.9726 9.31216 17.4637 9.22365 17.6107C9.02819 17.6071 8.50084 17.5533 8.18368 17.1267C7.80753 16.6212 7.82228 15.7179 8.22794 14.5205C8.84749 12.6958 8.89912 11.7351 8.40864 11.312C8.16524 11.1005 7.84071 11.0898 7.60469 11.1722C7.37974 11.2224 7.16584 11.2654 6.96301 11.2977C6.94826 11.3013 6.92982 11.3049 6.91507 11.3085C5.78291 11.5486 3.75461 11.6956 3.05024 11.0719C2.45281 10.5413 2.87691 9.83866 2.92485 9.76338C3.0613 9.56263 3.02074 9.30093 2.83635 9.13961C2.83266 9.13603 2.44544 8.78113 2.427 8.30434C2.41225 7.98529 2.56714 7.65906 2.88798 7.33642Z" fill="#909090"/></svg>
												span 0
							.review__bottom
								button.show-more
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5582 19.2834C8.99476 19.283 7.47028 18.8111 6.19666 17.9333C4.92303 17.0555 3.96354 15.8153 3.45154 14.3851C2.93955 12.955 2.90049 11.4059 3.33981 9.95327C3.77912 8.50064 4.67498 7.2166 5.90285 6.27964C7.13072 5.34269 8.6296 4.79936 10.1911 4.72519C11.7527 4.65102 13.2993 5.04969 14.616 5.86578C15.9327 6.68188 16.9541 7.87485 17.5382 9.27887C18.1222 10.6829 18.24 12.2282 17.8751 13.7L15.4538 11.3559L14.5159 12.2639L18.4006 16.0248L22.2852 12.2704L21.3473 11.3559L19.3118 13.3394C19.5947 11.6087 19.3228 9.83567 18.533 8.25913C17.7431 6.68259 16.4731 5.37829 14.8942 4.52192C13.3152 3.66555 11.503 3.29825 9.70184 3.46951C7.90064 3.64077 6.19693 4.34236 4.82019 5.47976C3.44346 6.61717 2.45985 8.13574 2.00188 9.83093C1.54389 11.5261 1.63354 13.3165 2.25874 14.9608C2.88394 16.6052 4.01466 18.0245 5.49857 19.0277C6.98249 20.0308 8.74831 20.5695 10.5582 20.5713L10.5582 19.2834Z" fill="#00A887"/></svg>
									span Показать еще
								.pagination
									span.pagination__item.pagination__item_current 1
									a(href="#").pagination__item 2
									a(href="#").pagination__item 3
									a(href="#").pagination__item 4
									a(href="#").pagination__item ...
									a(href="#").pagination__item 45
									a(href="#").pagination__item
										<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.87341 5.6707L3.73486 0.1357C3.5665 -0.0455414 3.29392 -0.0452367 3.12585 0.136638C2.9579 0.318488 2.95833 0.613073 3.12671 0.794455L7.9594 6.00002L3.12654 11.2056C2.95818 11.387 2.95775 11.6814 3.12567 11.8632C3.20993 11.9544 3.32031 12 3.43069 12C3.54079 12 3.65073 11.9547 3.73484 11.8642L8.87341 6.32932C8.9545 6.24218 9 6.12358 9 6.00002C9 5.87646 8.95437 5.75801 8.87341 5.6707Z" fill="#262028"/></svg>

					.page-single__slider.page-single__slider-second.section-border.block-slider-three
						.slider__top
							h2
								| Хиты продаж
								span
									span 12 343
									span товаров
							.slider__arrows
								.arr__lft
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
								.arr__rht
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
						.slider__content
							+card
							+card
							+card
							+card
							+card
					.page-single__slider.page-single__slider-second.section-border.block-slider-three
						.slider__top
							h2
								| Просмотренные товары
								span
									span 46
									span товаров
							.slider__arrows.slider__arrows_fix
								.arr__lft
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
								.arr__rht
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
						.slider__center
							.slider__tags
								.tag.tag_active Все
								.tag Люстры (34)
								.tag Светильники (12)
							.slider__btns
								a(href="#").compare
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.5188 12.0153L15.5037 5.64494C15.4465 5.52399 15.3465 5.42874 15.2246 5.38224L11.5075 3.94234C11.5577 2.4047 9.71933 1.66699 8.81237 2.89832C8.80678 2.89614 5.09633 1.45885 5.10025 1.46038C4.8625 1.36859 4.59494 1.48055 4.4805 1.72244L1.48339 8.05655C1.44425 8.13933 1.42748 8.2364 1.42992 8.31398C1.43859 10.3703 3.01292 12.0404 4.947 12.0404C6.88166 12.0404 8.45635 10.3693 8.46412 8.31216C8.4664 8.23227 8.44845 8.13556 8.40955 8.05424L5.95552 2.92928L8.49335 3.91237C8.49965 4.33133 8.65547 4.72428 8.93454 5.02126C9.09914 5.19644 9.29267 5.32251 9.49888 5.39963V15.2827H9.40975C7.98285 15.2827 6.82196 16.5182 6.82196 18.0368C6.82196 18.332 7.04683 18.5714 7.32419 18.5714H12.678C12.9553 18.5714 13.1802 18.332 13.1802 18.0368C13.1802 16.5182 12.0193 15.2827 10.5924 15.2827H10.5033V5.39966C10.7468 5.30858 10.9645 5.15307 11.1402 4.93773L14.3525 6.18209L11.5933 12.0154C11.554 12.0984 11.5374 12.1954 11.5398 12.2729C11.5486 14.3287 13.1225 15.9983 15.0561 15.9983C16.9897 15.9983 18.5636 14.3286 18.5723 12.2727C18.5751 12.1848 18.5545 12.0906 18.5188 12.0153ZM4.93174 3.14562L7.14242 7.76242H2.74717L4.93174 3.14562ZM4.947 10.9713C3.73335 10.9713 2.71791 10.0509 2.4846 8.83147H7.40941C7.1761 10.0509 6.16066 10.9713 4.947 10.9713ZM10.5924 16.3518C11.29 16.3518 11.8837 16.8344 12.0941 17.5023H7.90809C8.11855 16.8344 8.71222 16.3518 9.40979 16.3518H10.5924ZM9.6448 4.26534C9.44833 4.05623 9.44833 3.71599 9.6448 3.50689C9.96023 3.17117 10.505 3.40964 10.505 3.88611C10.505 4.36276 9.9601 4.60091 9.6448 4.26534ZM15.0554 7.07382L17.2549 11.7212H12.857L15.0554 7.07382ZM15.0561 14.9293C13.8429 14.9293 12.8278 14.0092 12.5945 12.7903H17.5176C17.2843 14.0092 16.2692 14.9293 15.0561 14.9293Z" fill="#00A887"/></svg>
									span Сравнить эти товары
								a(href="#").clear
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0011 18.5713C5.27464 18.5713 1.42969 14.7264 1.42969 9.9999C1.42969 5.27342 5.27464 1.42847 10.0011 1.42847C14.7276 1.42847 18.5725 5.27342 18.5725 9.9999C18.5725 14.7264 14.7276 18.5713 10.0011 18.5713ZM10.0011 2.4999C5.86542 2.4999 2.50112 5.8642 2.50112 9.9999C2.50112 14.1356 5.86542 17.4999 10.0011 17.4999C14.1368 17.4999 17.5011 14.1356 17.5011 9.9999C17.5011 5.8642 14.1368 2.4999 10.0011 2.4999Z" fill="#F86A45"/><path d="M7.02975 13.5713C6.87603 13.5713 6.72232 13.513 6.60553 13.3953C6.37107 13.1609 6.37107 12.7808 6.60553 12.5463L12.5475 6.60431C12.7821 6.36985 13.1622 6.36985 13.3967 6.60431C13.6312 6.83876 13.6312 7.21886 13.3967 7.45346L7.45455 13.3953C7.33615 13.513 7.18259 13.5713 7.02975 13.5713Z" fill="#F86A45"/><path d="M12.9716 13.5713C12.8181 13.5713 12.6644 13.513 12.5476 13.3953L6.60564 7.45353C6.37104 7.21906 6.37104 6.83891 6.60564 6.60443C6.84009 6.36981 7.2202 6.36981 7.45465 6.60443L13.3966 12.547C13.6312 12.7814 13.6312 13.1616 13.3966 13.3961C13.2791 13.513 13.1254 13.5713 12.9716 13.5713Z" fill="#F86A45"/></svg>
									span Очистить весь список (46)
						.slider__content
							+card
							+card
							+card
							+card
							+card
					.page-single__slider.section-border.block-slider-three
						.slider__top
							h2 Другие подкатегории люстр
						.slider__center
							.slider__arrows
								.arr__lft
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11.2752L8.35321 12L3 6L8.35321 -2.82721e-08L9 0.724754L4.29382 5.99949L9 11.2752Z" fill="#3E3E3E"/></svg>
								.arr__rht
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0.724753L3.64679 2.82721e-08L9 6L3.64679 12L3 11.2752L7.70618 6.00051L3 0.724753Z" fill="#3E3E3E"/></svg>
							.page-single__slider-top
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
								a(href="#").slider__item.categories__item
									.item__photo
										img(src="img/index/cat-photo1.jpg" alt="Photo")
									h3.item__title Диваны
									p.item__count 12 343 товаров
				.page-single__mini
					.mini__inner
						.mini__top
							.mini__photo
								img(src="img/single/Photo1.jpg" alt="Photo")
							.mini__info
								.mini__title Потолочная люстра Vele Luce Intenso VL1413L06
								.mini__art
									.art__item
										span Артикул: 
										p SD-345TM43
									.art__item
										span Бренд: 
										a(href="#") Vele Luce
									.art__item
										span Страна: 
										a(href="#") Италия
						.mini__buttons
							a(href="#").favorite
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0005 21.4286C11.7077 21.4286 11.4253 21.3192 11.2053 21.1207C10.3743 20.372 9.57303 19.6684 8.86614 19.0477L8.86253 19.0445C6.79005 17.2248 5.00038 15.6533 3.75516 14.1053C2.36319 12.3747 1.71484 10.7338 1.71484 8.94127C1.71484 7.19967 2.29445 5.59293 3.34678 4.41683C4.41167 3.22682 5.87285 2.57141 7.46162 2.57141C8.64909 2.57141 9.73657 2.95822 10.6938 3.721C11.1769 4.10602 11.6148 4.57724 12.0005 5.12689C12.3865 4.57724 12.8242 4.10602 13.3074 3.721C14.2647 2.95822 15.3521 2.57141 16.5396 2.57141C18.1282 2.57141 19.5896 3.22682 20.6545 4.41683C21.7068 5.59293 22.2862 7.19967 22.2862 8.94127C22.2862 10.7338 21.638 12.3747 20.2461 14.1051C19.0009 15.6533 17.2113 17.2246 15.1392 19.0442C14.431 19.6658 13.6286 20.3705 12.7956 21.121C12.5757 21.3192 12.2932 21.4286 12.0005 21.4286ZM7.46162 3.81301C6.21342 3.81301 5.06677 4.32627 4.23259 5.25836C3.38602 6.20451 2.91973 7.51241 2.91973 8.94127C2.91973 10.4489 3.46355 11.7972 4.68287 13.3131C5.86139 14.7783 7.61433 16.3174 9.64398 18.0996L9.64774 18.1029C10.3573 18.7259 11.1617 19.4323 11.9988 20.1865C12.841 19.4308 13.6466 18.7233 14.3576 18.0993C16.3871 16.3171 18.1398 14.7783 19.3184 13.3131C20.5375 11.7972 21.0813 10.4489 21.0813 8.94127C21.0813 7.51241 20.6151 6.20451 19.7685 5.25836C18.9345 4.32627 17.7877 3.81301 16.5396 3.81301C15.6252 3.81301 14.7857 4.11249 14.0445 4.70305C13.3839 5.22957 12.9237 5.89517 12.6539 6.36089C12.5152 6.60038 12.271 6.74333 12.0005 6.74333C11.7301 6.74333 11.4859 6.60038 11.3472 6.36089C11.0775 5.89517 10.6174 5.22957 9.95661 4.70305C9.21535 4.11249 8.37584 3.81301 7.46162 3.81301Z" fill="#3E3E3E"/></svg>
								span В избранное
							a(href="#").compare
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.2218 14.4184L18.6037 6.774C18.535 6.62886 18.415 6.51456 18.2687 6.45876L13.8082 4.73089C13.8684 2.88572 11.6624 2.00046 10.5741 3.47805C10.5674 3.47544 6.11482 1.75069 6.11952 1.75253C5.83421 1.64238 5.51315 1.77674 5.37582 2.067L1.77929 9.66794C1.73232 9.76727 1.71219 9.88375 1.71512 9.97685C1.72553 12.4445 3.61472 14.4485 5.93562 14.4485C8.25721 14.4485 10.1468 12.4433 10.1562 9.97467C10.1589 9.87879 10.1374 9.76274 10.0907 9.66516L7.14584 3.51521L10.1912 4.69492C10.1988 5.19767 10.3858 5.6692 10.7207 6.02558C10.9182 6.2358 11.1504 6.38709 11.3979 6.47962V18.3393H11.2909C9.57864 18.3393 8.18557 19.8219 8.18557 21.6443C8.18557 21.9985 8.45541 22.2857 8.78825 22.2857H15.2128C15.5456 22.2857 15.8155 21.9985 15.8155 21.6443C15.8155 19.8219 14.4224 18.3393 12.7101 18.3393H12.6032V6.47967C12.8954 6.37037 13.1566 6.18376 13.3674 5.92535L17.2223 7.41859L13.9111 14.4185C13.864 14.5182 13.8441 14.6345 13.847 14.7275C13.8575 17.1945 15.7462 19.198 18.0665 19.198C20.3869 19.198 22.2756 17.1944 22.286 14.7274C22.2893 14.6218 22.2646 14.5088 22.2218 14.4184ZM5.9173 3.77482L8.57012 9.31498H3.29582L5.9173 3.77482ZM5.93562 13.1657C4.47924 13.1657 3.26071 12.0612 2.98074 10.5978H8.8905C8.61054 12.0612 7.39201 13.1657 5.93562 13.1657ZM12.7101 19.6222C13.5472 19.6222 14.2596 20.2013 14.5122 21.0029H9.48892C9.74148 20.2013 10.4539 19.6222 11.291 19.6222H12.7101ZM11.573 5.11848C11.3372 4.86755 11.3372 4.45926 11.573 4.20834C11.9515 3.80548 12.6052 4.09164 12.6052 4.66341C12.6052 5.23539 11.9513 5.52116 11.573 5.11848ZM18.0656 8.48865L20.7051 14.0655H15.4276L18.0656 8.48865ZM18.0665 17.9152C16.6107 17.9152 15.3926 16.8112 15.1126 15.3484H21.0203C20.7404 16.8111 19.5223 17.9152 18.0665 17.9152Z" fill="#3E3E3E"/></svg>
								span В сравнение
						.mini__price
							.price__main 11 200 ₽
							del.price__old 14 500 ₽
							.price__sale  -25%
						.mini__stock
							img(src="img/single/stock-green.svg" alt="Photo")
							span В наличии 54 шт.
						.mini__count
							.count__input
								.input__minus
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.81502 7.42859C1.63534 7.43186 1.46434 7.49347 1.33865 7.60028C1.21296 7.70709 1.14258 7.8506 1.14258 8.00002C1.14258 8.14944 1.21296 8.29288 1.33865 8.39969C1.46434 8.50649 1.63534 8.56817 1.81502 8.57145H14.1844C14.3641 8.56817 14.5351 8.50649 14.6608 8.39969C14.7865 8.29288 14.8569 8.14944 14.8569 8.00002C14.8569 7.8506 14.7865 7.70709 14.6608 7.60028C14.5351 7.49347 14.3641 7.43186 14.1844 7.42859H1.81502Z" fill="#262028"/></svg>
								.input__field
									input(type="text" value="1")
								.input__plus
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99972 14.8571C7.82212 14.8571 7.65179 14.7866 7.52621 14.661C7.40063 14.5354 7.33008 14.3651 7.33008 14.1875V1.81247C7.33008 1.63486 7.40063 1.46454 7.52621 1.33896C7.65179 1.21337 7.82212 1.14282 7.99972 1.14282C8.17732 1.14282 8.34765 1.21337 8.47323 1.33896C8.59881 1.46454 8.66936 1.63486 8.66936 1.81247V14.1875C8.66936 14.3651 8.59881 14.5354 8.47323 14.661C8.34765 14.7866 8.17732 14.8571 7.99972 14.8571Z" fill="#262028"/><path d="M14.1872 8.66961H1.81222C1.63462 8.66961 1.46429 8.59906 1.33871 8.47347C1.21313 8.34789 1.14258 8.17757 1.14258 7.99997C1.14258 7.82237 1.21313 7.65204 1.33871 7.52646C1.46429 7.40087 1.63462 7.33032 1.81222 7.33032H14.1872C14.3648 7.33032 14.5351 7.40087 14.6607 7.52646C14.7863 7.65204 14.8569 7.82237 14.8569 7.99997C14.8569 8.17757 14.7863 8.34789 14.6607 8.47347C14.5351 8.59906 14.3648 8.66961 14.1872 8.66961Z" fill="#262028"/></svg>
						.mini__buy
							button В корзину
						.mini__click
							span Купить в один клик
							.click__inner
								.input
									img(src="img/single/Icoflag.svg" alt="Photo")
									input(type="text" placeholder="+7 (___) ___ - __ - __").click__input
								button Ок
						.mini__sections
							.mini__block
								.block__top
									span Доставка по г. Москва
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794435 3.12654C0.613029 2.95818 0.318632 2.95775 0.136757 3.12567C0.0455856 3.20993 -1.40011e-08 3.32031 -1.8826e-08 3.43069C-2.36385e-08 3.54079 0.0452804 3.65073 0.135819 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#262028"/></svg>
							.mini__block
								.block__top
									span Обмен / возврат
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794435 3.12654C0.613029 2.95818 0.318632 2.95775 0.136757 3.12567C0.0455856 3.20993 -1.40011e-08 3.32031 -1.8826e-08 3.43069C-2.36385e-08 3.54079 0.0452804 3.65073 0.135819 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#262028"/></svg>
							.mini__block
								.block__top
									span Cпособы оплаты
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.3293 8.87341L11.8643 3.73486C12.0455 3.5665 12.0452 3.29392 11.8634 3.12585C11.6815 2.9579 11.3869 2.95833 11.2055 3.12671L5.99998 7.9594L0.794435 3.12654C0.613029 2.95818 0.318632 2.95775 0.136757 3.12567C0.0455856 3.20993 -1.40011e-08 3.32031 -1.8826e-08 3.43069C-2.36385e-08 3.54079 0.0452804 3.65073 0.135819 3.73484L5.67068 8.87341C5.75782 8.9545 5.87642 9 5.99998 9C6.12354 9 6.24199 8.95437 6.3293 8.87341Z" fill="#262028"/></svg>
							.mini__whatsapp
								img(src="img/single/Icowhatsapp.svg" alt="Ico")
								span Написать в Whatsapp





			+email


	include includes/footer-single.pug



























	